[2015-01-19 02:26] jpaulm opened #1 "How do I tell if fiber finished?"
@bjouhier  Probably dumb question.  As I understand it, each 'run' call will run until the code returns, or until a 'yield' occurs - my question is how do I tell the difference between these two cases?  Of course, I may not have understood correctly.  Thanks!

[2015-01-19 12:48] bjouhier commented on #1
Yes, that's right. I usually track that with a special variable. For example the `yielded` variable in https://github.com/Sage/streamlinejs/blob/master/lib/fibers/runtime.js#L175-213

[2015-01-19 15:34] jpaulm commented on #1
@bjouhier That makes sense!  Thanks for getting back to me so fast!  Regards, P.

[2015-01-19 15:34] #1 closed

[2015-01-20 16:32] jpaulm opened #2 "Reestablishing a fibre in a callback"
@bjouhier  Sorry to keep bothering you, but I'm a bit confused about running a callback under a fibre - not even sure if that's the right terminology!

I had my test case with the asynchronous reader working (I thought), but when I tried a more complex case (fbptest2), I found that the callback wasn't picking up the original fibre.  I now seem to have gotten it working - with some added logic in r

[2015-01-22 07:48] bjouhier commented on #2
Nomally you start your fiber with:
[code]
The lifetime is the fiber is tied to the execution of `fiberBody`. `fiberBody` may yield several times but it will eventually return and at that time there is not much you can do with the fiber.

`Fiber.current` points to the expected fiber when you are in `fiberBody` or in one of the functions that is called by `fiberBody`. But you should not use it insid

[2015-01-22 16:50] jpaulm commented on #2
Your first paragraph is what I would expect to happen...  so I don't understand why my Reader module works! I am using the two-layer callback you suggested earlier, which I confess looks a bit like a closure to me!

I guess what perplexes is me is that Reader.js definitely "ends" after the call to myReadFile(), but the callback is able to pick up the same fiber later (although not under a "run" se

[2015-01-22 19:27] jpaulm commented on #2
Hi @bjouhier, I think I have written my first closure!  I decided to start a new fibre for the callback, and, to my surprise, it seems to work!   It would still be great if, when you get a chance, you could look at https://github.com/jpaulm/jsfbp/blob/master/script/reader.js and say whether it could have been done more elegantly!  setCurrentProc has been modified (in fbp.js) to save the old Proces

[2015-01-22 20:13] jpaulm commented on #2
Reader had the "var proc" in the wrong place - it has been changed to be a parameter to the callback.

[2015-01-22 20:25] bjouhier commented on #2
I see that you are assigning `Fiber.current` (https://github.com/jpaulm/jsfbp/blob/master/script/fbp.js#L92). I did not know that this was possible and I don't know what the consequences are. It may explain why your fiber does not have the usual lifetime.

I would expect every stream to be handled in its own fiber. A fiber may yield to itself but it should not try to transfer control to another fi

[2015-01-22 20:33] bjouhier commented on #2
I looked at the reader code but I find it a bit complex. I would encapsulate the whole callback handling inside a single function instead:
[code]
But this assumes that you are not transferring control explicitly between fibers.

[2015-01-22 21:37] jpaulm commented on #2
Re assigning a value to Fiber.current, that was well-spotted!  Actually that was a left-over from an earlier attempt!  I have removed it.

I now let the callback trigger a new Fiber, and this works much better - and I don't think it violates any rules. (?)

I will also take a look at your suggested callback handling, and try to incorporate it in my code (which I agree is over-complex)!  Thanks for

[2015-01-23 00:50] jpaulm commented on #2
Took a subroutine layer out of Reader.js.  Not sure if I dare make your changes, but the latest version works and it looks quite a bit cleaner!  Thanks!  Also, in my architecture I don't have any "yield"s or "run"s in components - that may be non-standard, but it matches the architecture of all my other "classical" FBP implementations.

Onwards and upwards!

[2015-01-26 00:54] jpaulm commented on #2
Hi, @bjouhier, I think I can close this issue.  If I don't hear any cries of protest over my revised design for Reader during the next couple of days, I will close this issue.  The Reader module is at https://github.com/jpaulm/jsfbp/blob/master/script/reader.js - and I think you have already found fbp.js.  The basic idea is to start a new fiber within the callback - using a subroutine called setPr

[2015-01-28 15:58] jpaulm commented on #2
@bjouhier  I have changed 'setProcCallback' to 'queueProcCallback' as I think it is a bit more self-explanatory.  This will be used by any asynchronous (from a JS point of view) components - currently the only one so far is 'reader'.  I will assume you are OK with this, and will close this issue.

Many thanks for all your help, and good insights!

Regards,

Paul

[2015-02-03 18:03] jpaulm commented on #2
@bjouhier Hi Bruno, I finally understood your code for my Reader and my adaptation of it seems to work!  It seems I was confused about how callbacks and fibers work together.  As they say, "the proof of the pudding etc.", so I think I've got it now.

I'm pretty excited about the potential of JSFBP, so any time you have to take a look at it and suggest potential problems, improvements, etc., would

[2015-02-05 15:37] ComFreek opened #3 "License"
Hello Paul,

I have just created a [package.json](https://docs.npmjs.com/files/package.json) for this project. It includes the `fibers` dependency, so that the installation will become as simple as `git clone ...` and `npm install` in the cloned directory. I plan to submit a PR.

Every package.json should include a license field. What is the license for the code in this repo?

[2015-02-05 15:50] jpaulm commented on #3
I have used the Artistic License -
http://opensource.org/licenses/Artistic-2.0 - for a number of years for my
JavaFBP work.  Do you think this is appropriate for JSFBP (and the other
"classical" implementations on Github)?

I see some people have used the MIT License - do you know what the
difference is?  There is also the GNU License - same question...

Thanks,

Paul

On Thu, Feb 5, 2015 at 10:37

[2015-02-05 16:09] jpaulm commented on #2
We have opened a topic on the FBP Google Group for JSFBP - https://groups.google.com/forum/#!topic/flow-based-programming/VPBr_z2wl3k .  Any comments there (or here) would of course be welcome.  Thanks again!

[2015-02-05 16:09] #2 closed

[2015-02-05 17:40] trustmaster commented on #3
In a nutshell: http://choosealicense.com/licenses/

MIT/BSD is so popular nowadays because it allows use in commercial products without source disclosure requirement (compared to GPL). Apache is a good choice for a permissive license as well. While Artistic license (which I used too some 12 years ago) is a bit exotic nowadays.

[2015-02-05 17:53] ComFreek commented on #3
### Artistic License

I have never used the Artistic license before, so all the information I currently have is from the German Wikipedia (which states all enforced rules and usage rights contrary to the Enlish version of the article).

The Artistic license permits you the distribution if at least one of the following conditions is met:

<sub>original source: http://de.wikipedia.org/wiki/Artistic_

[2015-02-06 00:59] jpaulm commented on #3
I notice a reference to binaries, which I assume JS doesn't have...  Is there a way to make JSFBP a "black box" vis a vis any commercial products that decide to use it?

[2015-02-06 14:41] ComFreek commented on #3
Binares from JS could be produced (embed V8, Node and the code in an executable), but why should they? Do you want to restrict commercial use?

PS: On the mailing list I heard that JSFBP could per definition only be executed on the client side. Is that true? I have not read your book, so I may be missing some parts of FBP.

[2015-02-06 15:17] jpaulm commented on #3
No, the idea is to restrict users from tinkering with the infrastructure, unless they do a formal fork (if that's the right term).  This is standard with other languages that do have binaries.

I didn't see the mailing list item, but I think that's backwards - IIUC node.js only runs on the server side, so that applies to JSFBP also.  Of course you can also run it in a stand-alone bat file.

HTH

[2015-02-06 15:25] trustmaster commented on #3
@jpaulm could you explain what you mean by "tinkering the infrastructure"?

[2015-02-06 15:34] jpaulm commented on #3
I guess it's an extension of the "black box" concept of FBP.  There are obviously different classes of user, but hopefully the majority will be (or should be) people who just use the JSFBP scheduler and our prewritten components.  If they can easily make changes to these and still call the result JSFBP, then we can't support them, and we have lost any control of JSFBP that we may have had.

I gues

[2015-02-06 15:46] trustmaster commented on #3
If I understood it correctly, all worries are about people making changes to JSFBP in a way that is not welcomed by the authors of JSFBP and then getting in trouble because of their changes and demanding support from JSFBP authors. This is pretty covered by NO WARRANTY clause which is present in most software licenses in the world, including proprietary ones and the 3 open source licenses in quest

[2015-02-06 15:59] ComFreek commented on #3
http://choosealicense.com/licenses/ states for the Apache license with regard to trademarks:

But are there really people claiming support for their own forks? In addition, I must say that I've never seen people intentionally and abusively taking advantage of the original name in their open source forks.

[2015-02-06 16:00] trustmaster commented on #3
@ComFreek :+1:

[2015-02-06 17:01] jpaulm commented on #3
I agree we don't want to restrict people from making their own forks, and calling it anything they like (except JSFBP)!  I agree the NO WARRANTY clause covers us prretty well.

I originally chose Artistic because it says the following (I can't remember seeing this in other licenses):

[2015-02-06 20:31] ComFreek commented on #3
That's in fact a nice "restriction". I can't imagine a Scenario where chariging license fees for an open source product would not be malicious.
Then again, I have never seen the Artistic License in use  (for any reasonably up-to-date software), so that would be a reason for others to shy away from forking, even thought it (v2 at least) is an approved OSS license: http://opensource.org/licenses/Art

[2015-02-06 21:26] jpaulm commented on #3
Based on that, let's go with whatever license you guys think will work best!

Thanks,

Paul
On Feb 6, 2015 3:31 PM, "ComFreek" <notifications@github.com> wrote:

[2015-02-06 23:53] alfa256 commented on #3
I propose MIT, it allows for private companies to use the library in their
system without having to release the source, it's similar to the Artistic
License but much more popular. Still, we are not lawyers, but most
developers prefer the MIT license. Forks can't use the same name but that's
just a copyright issue, it shouldn't matter.
The important thing here is that the meat of the open source as

[2015-02-07 02:10] jpaulm commented on #3
The MIT license seems to mean that a commercially successful product can be based on Open Source software, with absolutely no remuneration going to the developers of said software!  I know we should be doing it for the sheer joy of it... but still!  Maybe any other arrangement is unenforceable, but it does seem a shame!  Maybe we should try going as http://en.wikipedia.org/wiki/Donationware !

[2015-02-07 04:19] trustmaster commented on #3
Yes, but basically you don't expect any reward from dishonest people and honest people won't hesitate rewarding you if they succeed. This is proven to work by many open source projects, like Node.js itself for instance.

I agree with Alfredo and would recommend following the best practices of the open source world by choosing either MIT or Apache. The more limitations are imposed on a project, the

[2015-02-07 14:49] jpaulm commented on #3
Either one is fine by me.   I note Apache grants patent rights - does this make a difference?

[2015-02-07 15:41] alfa256 commented on #3
Apache v2 is not compatible with GPLd code, whereas MIT is. It'd be a shame
to have license problems with components.
But it's up to you @jpaulm.

2015-02-07 11:49 GMT-03:00 jpaulm <notifications@github.com>:

[2015-02-07 18:20] jpaulm commented on #3
I'm fine with MIT.  Thanks to you both for all the research!

Regards,

Paul

On Sat, Feb 7, 2015 at 10:41 AM, alfa256 <notifications@github.com> wrote:

[2015-02-08 04:19] alfa256 opened #4 "Roadmap"
I'd like to see a roadmap/goals/features list to have the project on track for contributions.

[2015-02-08 15:52] jpaulm commented on #4
On my short list: automatic ports, subnets

Longer term - I am hoping for feedback from the FBP community!

[2015-02-08 16:17] #3 closed

[2015-02-08 17:55] ComFreek opened #7 "Employ a unit testing framework"
For example [Mocha](http://mochajs.org/) or any other JS unit testing framework.

[2015-02-08 18:08] ComFreek opened #8 "Coding style"
- `[variableName] = [value]` creates a global variable if `variableName` hasn't been declared before.
This pollutes the global namespace and should therefore be avoided. An example can be found in [fbp.js#19](https://github.com/jpaulm/jsfbp/blob/master/script/fbp.js#L19).

- Use `module.exports` instead of `exports`
Sources:
 - http://justbuildsomething.com/node-js-best-practices/#9
 - http://stac

[2015-02-08 20:06] jpaulm commented on #8
Thanks for the "best practices" pointer, but it results in certain
questions!

I didn't realize that my "class" definitions should not go into the global
name space, but now I have to prefix all the exported class refs with
"fbp.", e.g. ;. 'sender" now becomes

 var fbp = require('./fbp.js');

exports.sender = function () {
var inport = fbp.InputPort.openInputPort('COUNT');
var outport = fbp.Outpu

[2015-02-08 20:52] tlrobinson commented on #3
I'm late to the game, but +1 for a permissive license like MIT or Apache. For something as foundational as a FBP runtime I think you want it as widely used as possible.

[2015-02-09 01:06] jpaulm commented on #8
I've made some changes to fbp.js, and added the following to each component:

var InputPort = fbp.InputPort;
var OutputPort = fbp.OutputPort;
var IP = fbp.IP;

So sender,js now looks like:

var fbp = require('./fbp.js');
var InputPort = fbp.InputPort;
var OutputPort = fbp.OutputPort;
var IP = fbp.IP;

exports.sender = function () {
    var inport = InputPort.openInputPort('COUNT');
    var outport

[2015-02-09 11:18] tlrobinson commented on #8
Those are basically the two options. The two styles aren't mutually exclusive, and the decision can be left up to the user of the API.

FYI, ES6 modules will make this much nicer by allowing you to do:

    import { IP, InputPort, OutputPort } from 'jsfbp';

 Or object destructuring syntax (similar in CoffeeScript) would let you do:

    var { IP: IP, InputPort: InputPort, OutputPort: OutputPort }

[2015-02-09 11:25] tlrobinson commented on #8
Also I've started moving in that direction: https://github.com/tlrobinson/jsfbp/commit/de77c619cc4772d5610b317d977369fcd4aa8310

I reworked `defProc` to accept either a module name as a string, or a function (the component) which the user has previously imported or defined in the same file as the network definition. It also takes the name from the function name if none is explicitly passed in.

I

[2015-02-09 11:26] ComFreek commented on #8
[code]
This is one possible way, which you also mentioned.

Ideally, one would split the definition of InputPort, OutputPort and IP, so that the following becomes possible:
[code]

TypeScript (TS) is a superset of JavaScript. Therefore, one needs to compile TS down to JS before being able to run the code.
The whole workflow can be simplified by using [Gulp](http://gulpjs.com/) (or similar JS build

[2015-02-11 16:00] ComFreek opened #11 "Reader should fail in case the file cannot be opened"
File: `components/reader.js`
Use the `err` parameter passed to the callback:

[code]

[2015-02-11 21:07] tlrobinson opened #12 "randdelay doesn't actually delay"
setTimeout is an asynchronous operation (the passed in callback gets called after the delay), so this doesn't actually delay anything: https://github.com/jpaulm/jsfbp/blob/master/script/randdelay.js#L24-L28

I'm not sure what the correct implementation should be. I tried something like this https://github.com/laverdet/node-fibers#sleep which seemed to correctly delay, but then the process never ex

[2015-02-11 21:17] ComFreek opened #13 "Fiber abstraction needed?"
The readme of node-fibers suggests to create an abstraction layer:

Fortunately, Fibers is (yet) only used in index.js and in core files (in the code base of my PR). "User land code" should ideally never require Fiber calls.

[2015-02-11 22:40] tlrobinson opened #14 "jsfbp that doesn't use fibers?"
Fibers are neat, but the majority of node.js developers don't and won't use them, and they don't work in browsers at all. It would be nice if we could provide a "classical FBP" system that works using standard JavaScript APIs.

Actually, after reading http://www.jpaulmorrison.com/fbp/noflo.html I'm pretty confused about how JSFBP is considered more "classical" than NoFlo. That page suggests the ke

[2015-02-11 23:01] tlrobinson commented on #14
Also, I would argue that this is incorrect: "JSFBP only requires the addition of a small package on top of node.js, node-fibers, which is easy to install. Even though it does not use pure JavaScript, neither does node.js, but the latter is becoming more and more accepted." (http://www.jpaulmorrison.com/fbp/software.html#JSFBP)

A full Node.js environment could be emulated in the browser (and indee

[2015-02-12 01:29] alfa256 commented on #14
Honestly I can't see how an API that looks like JavaFBP and other classical implementations could be made with traditional Javascript. If you can find a way please tell.

This kind of api:

    while( (a = read("in")) !== null ){
       send( "out", a.value + 5 )
    }

Blocking is not a problem but a feature, and I'm not really convinced that generators can emulate this behavior. I hope it does t

[2015-02-12 01:50] tlrobinson commented on #14
Here's a simple example (using the [Bluebird promise library](https://github.com/petkaantonov/bluebird/blob/master/API.md#promisecoroutinegeneratorfunction-generatorfunction---function) and ES6 generators, available in iojs and recent versions of node with the "--harmony" flag)

(obviously `read` and `send` are fake versions of the real thing, but it should give you an idea of what's possible)

[c

[2015-02-12 01:54] jpaulm commented on #12
@tlrobinson I guess I don't see why not!  If you run fbptest11, you will
see IPs coming out of the final merge in a somewhat shuffled order, just as
I intended.   Or are you saying the name isn't really accurate - that may
be true!  Feel free to suggest a better one...

Thanks,

Paul

On Wed, Feb 11, 2015 at 4:07 PM, Tom Robinson <notifications@github.com>
wrote:

[2015-02-12 02:23] jpaulm commented on #14
Hi @tlrobinson, I wrote  http://www.jpaulmorrison.com/fbp/noflo.html
before I got the idea of developing JSFBP, so it's not surprising that it
doesn't reflect my thinking about JSFBP.  At the time I didn't think it was
possible to build a "classical" FBP system using JS, and NoFlo is certainly
very different from classical FBP.    It seems to have a definite niche,
but it's a different one from th

[2015-02-12 09:58] ComFreek opened #16 "TODO"
Some notes and findings:
<hr>

- [x] Split index.js into core components
- [x] Coding style:
  - [x] Replaced CRLF by LF
  - [x] Added 'use strict' to all core/component files. I've left out the examples for brevity.
  - [x] Gitignore old-node compatibility stuff, i.e. [the files I created to use an older Node.js version](https://gist.github.com/ComFreek/c341bacfaae3aca887df). Admittedly, I was an

[2015-02-12 10:06] ComFreek commented on #14
That's why I suggested to use an abstraction layer in issue #13. Such an abstraction layer would ideally allow us to switch between different implementations, e.g. one for Node.js and another one for browsers. Another big and related advantage is that the implementation for browsers could only emulate Fibers, so that jsfbp is ready to run in browsers even though not with full performance.

[2015-02-12 16:26] tlrobinson commented on #14
they would be so unwilling to add one more  component - namely
node-fibers

This is simply not going to happen. AFAIK there has been zero serious discussion of adding fibers to the browser, and even if that started happening it would be many years before they were implemented and widely available.

Compare that to ES6's generators, which are built into current versions of Node.js, in the next vers

[2015-02-12 16:59] alfa256 commented on #14
Could you try making a prototype that achieves a functionality equivalent
to Collate ?

2015-02-12 13:26 GMT-03:00 Tom Robinson <notifications@github.com>:

[2015-02-12 17:08] jpaulm commented on #14
If you can find a way to simulate multiple stacks in JS, then we should be
able to do something!
On Feb 12, 2015 11:59 AM, "alfa256" <notifications@github.com> wrote:

[2015-02-12 18:13] tlrobinson commented on #14
Can Collate be written in the current version of JSFBP (using fibers)?

[2015-02-12 19:43] jpaulm commented on #14
Absolutely!  The structure and even coding would be very similar to https://github.com/jpaulm/jsfbp/blob/master/components/rrmerge.js - you just have to add the "low tag" logic (output the IP with the lowest tag value, and then do a 'receive' from the input array port element that that IP came from).

Historically, Collate also adds open and close brackets to the output stream - this function coul

[2015-02-12 22:48] tlrobinson commented on #14
In my quest to understand collate I implemented a version without brackets here: https://github.com/jpaulm/jsfbp/pull/17

I'll work on proof-of-concept with generators/promises/streams next.

[2015-02-13 01:01] jpaulm opened #18 "Why InitConn in utils?"
@comfreek - I like the way you have split up index.js, and I have updated the Readme to reflect that getElementWithSmallestBacklog is in utils, but I am wondering why InitConn is also in utils, as it is not exposed to components (although it is used by initialize)...  Just wondering!  Thx.

[2015-02-13 04:12] tlrobinson commented on #12
Calls to `setTimeout` don't work with fibers. `setTimeout(function() {}, whatever)` might as well be removed since it does absolutely nothing. Here's an equivalent (non-random) delay component and test case:

[code]

Would you agree that if the two senders are supposed to be delayed 100ms and 250ms then those IPs should arrive in that order?

[2015-02-13 13:13] ComFreek commented on #18
I have just put lone functions (except for run and run2, I think) from index.js into utils.js.
You are right, it shouldn't belong to utils.js! However, I am not quite sure whether `InitConn` is a good name. It gets only once used:
[code]
We either `init`ialize an object or create it using `new`. `new Utils.InitConn` feels somehow wrong to me. What is its use case? Why can't we use the `Connection`

[2015-02-13 13:51] #8 closed

[2015-02-13 15:15] jpaulm commented on #18
An InputPort is connected either to a Connection or an InitConn, and
receive and a few other functions have to test which the InputPort is
connected to.  I see Connection as connecting two processes, whereas
InitConn connects  a String with a Process.  However, I agree that InitConn
is a bit awkward - how about if we add a field to Connection (to point at
the String) and have receive and the other

[2015-02-13 15:28] jpaulm commented on #12
On Thu, Feb 12, 2015 at 11:12 PM, Tom Robinson <notifications@github.com>
wrote:

but I see it in your code.  I'm afraid you lost me here!

Also, in general in FBP when two output ports are connected to one input
port, you can't guarantee the order of arrival of the IPs.  Although I
suppose in this case the delays are long enough that practically your
desired order could be preserved...  However,

[2015-02-13 15:57] tlrobinson commented on #12
Yes, I ran it, and the results are not interleaved.

I'm saying that call to setTimeout doesn't do anything (it calls that empty function after a certain amount of time, but the setTimeout function itself returns immediately) thus removing it changes nothing, but it would still be broken, of course. My test case above shows that it is broken, but I'm not sure how to fix it (I tried replacing it wi

[2015-02-13 16:26] jpaulm commented on #12
You were right - I picked up Marcel's sleep and added it into randdelay with some small changes required for JSFBP, and the delay seems to be working now.  I added a test case, `fbptest13`, to make the function more obvious. Not surprisingly, it takes a while to run!

[2015-02-13 16:26] ComFreek commented on #18
If I understand you correctly, an InitConn is basically a Process with 0 inports, 1 outport, and whose function returns a constant/pre-defined string. Is that correct?
Another option would be to have a generic and abstract `GenericProcess` class and two subclasses, namely `(Normal)Process` and `StringConstantProcess`.

Where is that receive function you mentioned? Unfortunately, I could not find t

[2015-02-13 16:29] ComFreek commented on #18
@jpaulm I don't know whether you are aware of this, but there are two users with which GitHub identifies your comits: https://github.com/jpaulm/jsfbp/commits/master

[2015-02-13 16:58] jpaulm commented on #18
I think the two users are jpaulm and J. Paul Morrison - right?  It seems to
depend on whether I made the change by editing on Github (my usual action
with Readme) or whether I made them on my desktop and did a push...  Could
this cause problems?

Regards,

Paul

On Fri, Feb 13, 2015 at 11:29 AM, ComFreek <notifications@github.com> wrote:

[2015-02-13 17:00] ComFreek commented on #18
Exactly, you could try to set your local Git username and mail.

Execute these commands:
[code]
(You can verify these settings by leaving out the last part, i.e. not passing a new value.)

[2015-02-13 17:02] jpaulm commented on #18
I tend to resist calling InitConn a Process as it is not active - it is
strictly passive, but since it is under the covers, I don't object to
rolling that function into Connection...  What's your feeling?

Receive is in InputPort, and there are 5 references to it in index.js.

Regards,

Paul

On Fri, Feb 13, 2015 at 11:26 AM, ComFreek <notifications@github.com> wrote:

[2015-02-13 17:05] jpaulm commented on #18
Done!  Thanks!

Paul

On Fri, Feb 13, 2015 at 12:00 PM, ComFreek <notifications@github.com> wrote:

[2015-02-13 17:23] ComFreek commented on #18
I see!
I think moving InitConn into Connection doesn't have much advantage (=code complexity) to it if we are still forced to check both cases (InitConn/Real connection) in InputPort#receive. Would it make sense to let Connection handle the cases? May a Connection handle the creation of an IP at all?

@tlrobinson What do you think?

Nonetheless, we should definitely document the code with [JSDoc s

[2015-02-13 17:51] jpaulm commented on #18
On Fri, Feb 13, 2015 at 12:23 PM, ComFreek <notifications@github.com> wrote:

I'm open to suggestions!  My code tends to be rough and ready!

How much do you document?  Any examples?

Not that I know of.  I merged @tlbrobinson 's code first, then yours a day
later...

Regards,

Paul

[2015-02-13 18:31] ComFreek commented on #18
I've partly documented InputPort.js for demonstration purposes:
https://github.com/ComFreek/jsfbp.git
1. `git clone https://github.com/ComFreek/jsfbp.git`
2. `git checkout code-documentation`
3. `npm install`
4. `npm run-script doc`
5. Open `out/index.html`

[2015-02-14 02:06] tlrobinson commented on #7
I believe this can be closed, since we've got mocha set up now.

[2015-02-14 02:26] jpaulm commented on #12
@tlrobinson Looks like it's working - can we close this?  Thx

[2015-02-14 02:29] tlrobinson commented on #12
I'd like to get my test case working, which I haven't been able to, even with an updated `sleep` implementation. I've posted it to a branch called "delay": https://github.com/tlrobinson/jsfbp/tree/delay

You should be able to get it by doing `git fetch tlrobinson` and `git checkout tlrobinson/delay`.

[2015-02-14 02:32] jpaulm commented on #7
Agree!  OK @comfreek?

On Fri, Feb 13, 2015 at 9:06 PM, Tom Robinson <notifications@github.com>
wrote:

[2015-02-14 02:33] jpaulm commented on #12
Thanks, will look at it tomorrow!

P.

On Fri, Feb 13, 2015 at 9:29 PM, Tom Robinson <notifications@github.com>
wrote:

[2015-02-14 03:11] tlrobinson opened #19 "Possible to "peak" at an input port / non-blocking receive?"
Is it possible to see which input ports have IPs ready to be received? Or to receive on multiple ports at the same time, and take whichever receives an IP first? (like `select` in POSIX sockets)

[2015-02-14 03:18] tlrobinson commented on #7
Also I'd like to setup https://travis-ci.org/ to automatically run the tests when we push to GitHub.

@jpaulm could you sign up at https://travis-ci.org/ and enable it for the jsfbp repository? I can create the required `.travis.yml` file once you do that. Alternatively if you add me as a collaborate here I can do it myself: https://github.com/jpaulm/jsfbp/settings/collaboration

[2015-02-14 04:29] alfa256 commented on #19
I call this "peeking" and Paul doesn't seem to like it, but I do. I don't
like the idea of waiting on several ports, it defeats the simplicity of FBP
imho. A timed read should solve the issue, or peeking.

2015-02-14 0:11 GMT-03:00 Tom Robinson <notifications@github.com>:

[2015-02-14 10:00] ComFreek commented on #7
:+1: for Travis. @jpaulm It will display a notification about the build status (did all tests pass?) in every PR. You can see it in action here: https://github.com/discourse/discourse/pull/3202 (scroll to the bottom)

[2015-02-14 15:18] jpaulm commented on #19
Yes, @alfa256 is right - I don't like peeking!  I think it would also
"defeat the simplicity" of the FBP concept.  Also use the YAGNI concept -
do you have a use case?  If so, are you sure there is no way to handle it
using the existing facilities? Hope you are not still thinking
synchronously (horrors!) :-)

Re the other idea, we tried that many years ago - it was complex and not
robust.  It turn

[2015-02-14 15:24] jpaulm commented on #7
How do I set the various authorizations - e.g. my email addresses?

Regards,

Paul

On Fri, Feb 13, 2015 at 10:18 PM, Tom Robinson <notifications@github.com>
wrote:

[2015-02-14 15:46] jpaulm commented on #12
Sorry, @tlrobinson , git fetch tlrobinson  didn't work - says tlrobinson is
not a git repository...

On Fri, Feb 13, 2015 at 9:29 PM, Tom Robinson <notifications@github.com>
wrote:

[2015-02-14 15:49] ComFreek commented on #12
You must first add tlrobinson's fork as a remote repository:
[code]
Then do (as the comment of @tlrobinson explains):
[code]

[2015-02-14 16:53] jpaulm commented on #12
Thanks @comfreek - I can't really imagine how @tlrobinson expects to get a
predictable sequence out of this...  Anyway I'll take a look this afternoon.

Regards,

Paul

[code]

[2015-02-14 19:53] jpaulm commented on #12
Thanks, @comfreek.  I did a git status, and got:

[code]

What does this mean?  And can I just delete @tlrobinson's delay file when
I'm finished with it?

Thanks,

Paul

On Sat, Feb 14, 2015 at 10:49 AM, ComFreek <notifications@github.com> wrote:

[2015-02-14 19:58] ComFreek commented on #12
I am not a Git pro, but I suppose you're now on the `tlrobinson/delay` branch (due to the `checkout` command I mentioned in my comment).
What would you like to do? If you would like to switch to your normal branch again, just issue `git checkout master`.

[2015-02-14 20:05] jpaulm commented on #12
Yup, found that on Internet!  And that also got rid of Tom's delay
routine.  Thanks!

On Sat, Feb 14, 2015 at 2:58 PM, ComFreek <notifications@github.com> wrote:

[2015-02-14 21:32] jpaulm commented on #12
Hi @tlrobinson , I'm still not clear on how `npm test` works, but I have added a fixed interval routine called `delay` to `components`, and a test for it called `fbptest14` - and they both seem to work fine.  Give `fbptest14` a try!  I have tracing turned off, to make things easier to see - not sure it does though!

Generally, though, if you have >1 arcs converging into a single input port, I woul

[2015-02-15 09:20] ComFreek commented on #7
@jpaulm Have you read the [Getting started guide](http://docs.travis-ci.com/user/getting-started/) (scroll down to the end of the list of languages first) and [the guide on how to set up Node.js projects](http://docs.travis-ci.com/user/languages/javascript-with-nodejs/)? I've never set up Travis CI myself, so I cannot help you except for providing links to articles.

[2015-02-16 19:27] jpaulm commented on #12
@tlrobinson - what happened with this issue?

[2015-02-16 19:28] jpaulm commented on #11
Done!

[2015-02-16 19:28] #11 closed

[2015-02-16 20:03] ComFreek commented on #11
This raises also an important question: how should we handle errors in general? Throw exceptions? Pass them forth to other components?

How did you handle this topic in JavaFBP?

[2015-02-17 01:52] tlrobinson commented on #12
I've been gone all weekend so I'll have to check it out later.

If the delay isn't random (it isn't in my test case) then I would expect
the order to be relatively predictable, as long as the delays are long
enough (100ms should be fine most of the time). I'm not sure why that's
"anti-FBP". I understand if two IPs arrive at an input port "close" to the
same time the order is unpredictable, but 100

[2015-02-17 02:50] jpaulm commented on #12
I agree!  You had said earlier that it didn't work for you.  I'm curious if
it is now working...

Regards,

Paul

On Mon, Feb 16, 2015 at 8:52 PM, Tom Robinson <notifications@github.com>
wrote:

[2015-02-17 04:56] tlrobinson commented on #12
I ran `fbptest14.js` and it looks like it works, however `fbp.run` returns before all of the processes exit, which I guess is expected because it wraps `run2` in a Fiber. If call `run2` directly (add `exports.run2 = run2` to index.js) instead then my test *almost* works, but some IPs are out of order (even if we increase the timeouts so there is no possibility of race conditions)

`npm test` just

[2015-02-17 15:23] jpaulm commented on #12
@tlrobinson wrote:

I ran fbptest14.js and it looks like it works, however fbp.run returns
before all of the processes exit, which I guess is expected because it
wraps run2 in a Fiber. If call run2 directly (add exports.run2 = run2 to
index.js) instead then my test *almost* works, but some IPs are out of
order (even if we increase the timeouts so there is no possibility of race
conditions)

run2 i

[2015-02-17 15:32] ComFreek commented on #12
I found [`waitfor`](https://github.com/luciotato/waitfor). Especially waitfor.js#56 is of interest: https://github.com/luciotato/waitfor/blob/master/waitfor.js#L56)

[2015-02-17 16:48] ComFreek commented on #12
waitfor does only work in a Fiber itself, so we would have to put run() into a Fiber. But then again the caller of run() would need to put his code into the same Fiber to preserve synchronicity. Eventually, you get to a point which is asynchronous!

[2015-02-17 16:53] ComFreek commented on #12
`waitfor` does only work in a Fiber itself, so we would have to put run() into a Fiber. But then again the caller of run() would need to put his code into the same Fiber to preserve synchronicity. Eventually, you get to a point which is asynchronous!

One could use [deasync](https://github.com/abbr/deasync) which intervenes at the Node.js C++ level, but that introduces another (binary) dependency.

[2015-02-17 19:47] tlrobinson commented on #14
@jpaulm @alfa256 Here's a proof-of-concept using Streams, Promises, and ES6 Generators via Blubird's `coroutine` method: https://gist.github.com/tlrobinson/c8407e0e3f31a0da5400

It may be difficult to understand if you're not very familiar with JavaScript and "promises" or "streams", but the relevant thing to note is I've implemented collate without using Fibers. Note that `collate1` uses Generato

[2015-02-17 20:00] alfa256 commented on #14
So from what I can see the api changes would be adding a yield to
receive()s ?
If that's the case then It'd be great, also I wonder if the yield could be
even wrapped in the receive() ?
In any case great job, this could be great for the project.

2015-02-17 16:47 GMT-03:00 Tom Robinson <notifications@github.com>:

[2015-02-17 20:03] jpaulm commented on #12
Hi @comfreek 1) how did you guys know that run finished before run2 finished?  2) does it matter?!

I will put your suggested change into index.js, but I'm just curious why it's necessary...

Regards,

Paul

As I've said elsewhere, I won't be able to touch the code for a month, but I'm sure your forks will be very interesting by the time I get back!  :-)

[2015-02-17 20:10] tlrobinson commented on #14
@alfa256 I don't believe `yield` can be moved inside of `receive` because it's a special keyword for use in generator functions (`function* whatever(){}`), but I don't think that's desirable anyway. Ideally the FBP kernel/framework should work without generator functions, but would support them as an extra layer of syntactic sugar in components.

Note that the only code in my proof of concept that

[2015-02-17 20:29] ComFreek commented on #12
I asked myself the same question :). It's verifiable using one line:
[code]

The output will be as follows:
[code]
(The last line is from the end of the function run2().)

In my view, having a callback function &ndash; which is run when the network has terminated &ndash; is essential because there are numerous cases where one (=user of JSFBP) wants to do something after the network has truly termi

[2015-02-17 20:29] ComFreek commented on #12
I asked myself the same question :). It's verifiable using one line:
[code]

The output will be as follows:
[code]
(The last line is from the end of the function run2().)

In my view, having a callback function &ndash; which is run when the network has terminated &ndash; is essential because there are numerous cases where one (=user of JSFBP) wants to do something after the network has truly termi

[2015-02-17 21:06] tlrobinson commented on #12
Determining when the network has completed is a secondary concern to me... the fact that some of the IPs appear out of order is more puzzling. Are either of you able to reproduce that issues?

i.e. this comment of mine:

[2015-02-18 01:34] jpaulm commented on #12
@comfreek - is your split ready for merging?  I will have a little time tomorrow - and then that's it for a while!

@tlrobinson - re your IPs arriving out of sequence, I think you are forgetting about possible delays in the connections.  IPs are sent when there is room for them in a connection, and received at a fairly random time after that, depending on what is ready to be processed in the "futu

[2015-02-18 06:04] tlrobinson commented on #12
@jpaulm Why would one IP be delayed 500ms more than another IP within the same OS process? Possible if these IPs were being transmitted over the network around the world, but not within the same process on the same machine.

[2015-02-18 08:40] brodavi commented on #14
Hi! Interested bystander here. I just finished reading the fbp book, and this jsfbp project excites me.

For what it's worth, I would like to second the motion for using streams. Streams have a large "following" (node, gulp, etc) and are relatively well understood even by pedestrian js developers like myself.

I share @tlrobinson's concern that node-fibers are off-putting. Streams, on the other ha

[2015-02-18 10:23] ComFreek commented on #12
@jpaulm No, I'm afraid most of the examples are still not working.

[2015-02-18 14:52] ComFreek commented on #14
The proof of concepts look *promis*ing!
Note that Node.js 12.0 doesn't support generator functions (unless compiled with `--harmony`), so I switched to [io.js](https://iojs.org/en/index.html) in order to run your sample `collate.js`. It is essentially a Node.js fork with faster release cycles.

I have finished my changes which separate all Network-related thing from those related to (Fiber-)Runtim

[2015-02-18 22:37] jpaulm commented on #12
I cooked up a test, but it conflicts on delay.js and fbptest14 - and I don't have time to fix the conflicts (heading to the airport in a little while!)

Here are the two components:
[code]

and the test case

[code]

Maybe one of you can figure out what is wrong!  TIA

[2015-02-20 16:08] jpaulm commented on #12
@ComFreek if you can figure out my test, you will see that one delay somehow caught up with the next! It  seems that the delay is happening, or at least most of them, but not in the right place. The odd thing is that what Msrcel shows is almost the same code. Should we raise an issue on node-fibers?

[2015-02-20 16:23] ComFreek commented on #12
Hope you had a pleasant flight!

The test case in your comment above includes a 'mockmocksender' component. Could you please share the code of it? I cannot find it inside this repository.

I am afraid I do not know Marcel.

PS: I don't know where your merge conflicts come from. My fork is now even with this repository, meaning they have equivalent code bases.

[2015-02-21 13:22] jpaulm commented on #12
Thanks, @comfreek , a bit bumpy for a while, but most of it was fine!
Temperature here is usually in the high 20s!

The problem is that Github is very hard to use here  (small tablet screen,
shaky Wifi, etc.),  so I put everything in my previous post, and hoped you
will be able to figure things out!

In my previous post there are two routines: delay and mockmocksender (Tom's
mocksender convrrted t

[2015-02-22 12:38] ComFreek commented on #12
On my system the IPs arrive in the right order at recvr, please see the output below. I have saved the test case from your comment above into `P:\test.js`.
[code]

[2015-02-22 13:12] jpaulm commented on #12
Odd!  In my copy of 'delay' I added a log line when the timeout completes,
and I don't see that.   If you add that, IIRC 2 messages saying 250 ms came
out in quick succession, with no events in between. But I didn't have time
to investigate further.

Of course I can't access my testbed for a month, so I'm thinking we should
just drop it until I get back  - unless someone gets a brainwave! :-)

@ke

[2015-02-23 14:20] ComFreek commented on #12
@jpaulm
I have come across related issues now:

I added two automated tests for delay.js and randdelay.js: [delay.js](https://github.com/jpaulm/jsfbp/blob/fix-delay/test/components/delay.js) and [randdelay.js](https://github.com/jpaulm/jsfbp/blob/fix-delay/test/components/randdelay.js). (Note that they're both on a separate branch called 'fix-delay'.)

Running both tests resulted in failures becau

[2015-02-23 20:55] jpaulm commented on #12
Many thanks - it sounds like you have solved  the problem!

Could you make the required changes, and retest?  TIA

By the way, does this problem apply to reader and writer?  It sounds like
it might...

Regards,

Paul
On Feb 23, 2015 9:20 AM, "ComFreek" <notifications@github.com> wrote:

[2015-02-23 22:32] ComFreek commented on #12
In the course of re-testing multiple times to ensure the absence of errors I found out that errors sometimes still appear and sometimes not. I suspect a [race condition](http://en.wikipedia.org/wiki/Race_condition). Maybe turning off tracing/console.log statements play a role.

You're right: Theoretically, the problem could also appear in reader and writer. But why do the examples using these comp

[2015-02-24 08:14] kenhkan commented on #12
@jpaulm Example 14 runs fine with the experimental runtime.

@ComFreek @jpaulm Sorry that I fail to see where the issue is, even having read through the thread several times. Is the race condition at the runtime level? It would be odd otherwise because I thought FBP was supposed to remove race conditions by embracing processes being asynchronous at the graph level.. Some pointers to what the alleg

[2015-02-24 14:23] jpaulm commented on #12
@kenhkan That's interesting, and good news!  The problem for us only seems
to come up with delay and randdelay components, so - a) are you using
setTimeout,  and/or b) have you noticed any unexpected timings using it?

@comfreek Ken's result makes me think that the problem is with setTimeout,
esp. as reader and writer seem to work.  The problem feels to me as if the
setTimeout is not working relia

[2015-02-24 17:30] ComFreek commented on #12
@jpaulm @kenhkan Here's how you can reproduce the problem:

1. `git clone https://github.com/jpaulm/jsfbp.git` (or update your clone with `git fetch origin`)
2. `git checkout fix-delay`
3. `npm install`
4. Run `./node_modules/.bin/mocha --ui mocha-fibers --require test/test_helper.js test/components/randdelay.js`

 (You have to use the following code when using cmd.exe (and not PowerShell): `"./no

[2015-02-24 19:36] kenhkan commented on #12
@jpaulm If I read the example files correctly, example 14 is supposed to just send the second file first, right? Example 11 and 13 are supposed to be the ones exhibiting random behaviors? If that's the case, it seems to be correct, but just in case, does [this output](https://gist.github.com/kenhkan/e42067d2a0582c44a8cf) make sense to you?

@jpaulm Everything seems to be predictable. And no, I'm n

[2015-02-25 14:03] jpaulm commented on #12
@kenhkan Example 14 was supposed to show simple cumulative delay
behaviour.  So I can't tell much from the gist.  I was hoping @comfreek
could simplify test 14 to just have one branch,  and add some more logging
- but it looks like his test case shows the odd behavior pretty clearly.

Just to be clear, 11 and 13 are supposed to show random delay behavior and
14 non-random behavior.  And all 3 shou

[2015-02-25 15:49] kenhkan commented on #12
Hmmm. Sorry Paul. I actually don't understand why it should be cumulative. I thought it was due to back-pressure as you set the capacity to 2 but it doesn't seem to be the reason.

More importantly, why should it be cumulative? I agree with @ComFreek that it makes sense to just send the incoming messages "immediately" given sufficient capacity. In this case "immediately" would be whatever the dela

[2015-02-25 16:31] kenhkan opened #24 "Process state"
@jpaulm @tlrobinson @ComFreek

What do you guys think about how local state should be handled? It seems like the current JSFBP only allows "pure" processes. If you save the state outside of the scope of the `module.exports` function it becomes a singleton process.

I'm thinking it could be something like this, in pseudo-JS:

[code]

Any idea or previous syntax that I'm not aware of for handling lo

[2015-02-25 20:38] ComFreek commented on #24
I am afraid I am unable to see why normal variables inside the `count` function cannot be used.

[2015-02-25 20:40] #7 closed

[2015-02-25 21:58] kenhkan commented on #24
Because it would be local to the function, so state can't be carried across process activations. Imagine you have a long-running graph with a web server. `count` would return after a request has been fulfilled so it couldn't, say, count the number of requests since the graph started.

[2015-02-25 22:42] tlrobinson commented on #24
I assume you're referring to the "non-looper" style components?
On Wed, Feb 25, 2015 at 2:58 PM Kenneth Kan <notifications@github.com>
wrote:

[2015-02-25 23:33] kenhkan commented on #24
@tlrobinson Yes, though with the current convention there is no such thing as a looper. The `while (true) { ... }` construct doesn't make it a looper in the traditional sense. When there is no more IPs to receive, the function has to quit at some point. So "loopers" and non-loopers alike can't currently keep state across activations.

[2015-02-25 23:45] jpaulm commented on #12
I'm the one who is missing something!  Both randdelay and delay are loops
which say roughly

while not end of stream {
    receive
    sleep
    send
}

so I don't see how it could be anything but cumulative!  What am I missing?!
On Feb 25, 2015 11:49 AM, "Kenneth Kan" <notifications@github.com> wrote:

[2015-02-26 00:11] kenhkan commented on #12
Got it. No Paul. It's not you. It's us. It's the JS mentality. This is what happens when a language uses an asynchronous coding style.

This is actually potentially a huge issue with newcomers in the future that we need to make sure we stress somewhere. In JS, it's unintuitive to think synchronously (read: there is no sleeping!). This is also the reason behind issue #24 regarding process state and

[2015-02-26 00:15] kenhkan commented on #12
@tlrobinson @ComFreek It's now obvious that the purpose of the `while () { ... }` construct in Paul's eyes (and in the FBP sense) is different than what it implies in JS semantics. We somehow need to come up with a looper syntactic construct that is intuitive in JS. Any idea?

[2015-02-26 01:48] tlrobinson commented on #24
Isn't this style a "looper"? https://github.com/jpaulm/jsfbp/blob/master/components/copier.js

[2015-02-26 06:47] kenhkan commented on #24
My apology everyone. My brain short-circuited. I kept thinking in terms of idiomatic es5. This wouldn't be a problem with es6 generators. For anyone who's interested, I seem to be able to get it to work with [es6 generator syntax](https://gist.github.com/kenhkan/c556648984ef9207658d). Closing this issue now.

[2015-02-26 06:47] #24 closed

[2015-02-26 06:48] kenhkan commented on #12
Sorry guys. All resolved. See #24 . It only isn't idiomatic with es5, not es6. Looking forward to seeing your solutions with promises and streams!

[2015-02-26 12:41] jpaulm commented on #12
Is it all resolved?  Don't we still have a bug?!

Regards,

Paul
On Feb 26, 2015 2:48 AM, "Kenneth Kan" <notifications@github.com> wrote:

[2015-02-26 13:36] jpaulm commented on #12
Double check: ES6 has processes?

How do they do that without multiple stacks?  It's got to be pretty complex!

Paul
On Feb 26, 2015 8:41 AM, "Paul Morrison" <jpaulmorr@gmail.com> wrote:

[2015-02-26 14:32] kenhkan commented on #12
Sorry for the confusion. Only the problem that I was raising was resolved.

And no, es6 doesn't have processes, but with generators you can achieve the
illusion of a process via a synchronous style for async operations, much
like what fiber offers.

On Thursday, February 26, 2015, jpaulm <notifications@github.com> wrote:

--

- Ken

[2015-02-27 22:49] jpaulm commented on #12
Hi @comfreek, @kenhkan, I am wondering if we should support delay and
randdelay  ourselves...  Perhaps the problem is that setTimeOut is not well
integrated  with the JSFBP scheduling.

Assuming timed delay is a useful function, it could be integrated with the
JSFBP scheduler by adding a Future Events Queue, in addition to JSFBP's
Ready Queue `queue`.  I am visualizing an API call `sleep (hhmmss)`

[2015-02-28 14:54] #12 closed

[2015-02-28 15:01] ComFreek commented on #12
@jpaulm @kenhkan @tlrobinson
I have finally fixed the problem. Could you please verify this?

(Preparation: `git checkout master`, `git fetch origin` to update your local repos and `npm install` just in case)

- Run `npm test`
- Run `examples/fbptests.[bat|sh]` (note: test 7 is supposed to throw a deadlock error)

My commit message reveals the details of why delay and randdelay had probably never

[2015-02-28 16:52] kenhkan commented on #12
It seems to be working on my end. :+1:

Sorry @ComFreek for not quite understanding the commit message, which sounds to me that it has indeed fixed it. Doesn't the eventual resuming part guarantee the delayed process to be run?

[2015-02-28 17:16] ComFreek commented on #12
Let's assume this simple setup: `sender --> delay (1000ms) --> recvr`.

The Runtime indefintely processes the queue until the queue's length is smaller than or equal to 0 (cf. [index.js#177](https://github.com/jpaulm/jsfbp/blob/ce1717451d229c50a4b4a3aae3289a8702e7e764/core/runtimes/FiberRuntime/index.js#L177)). In each iteration (aka "tick") the first process from the queue is first deleted and th

[2015-02-28 17:55] #19 closed

[2015-02-28 18:21] kenhkan commented on #12
@ComFreek Oh got it. My bad. I was mis-reading your initial comment. Everything makes sense now. Thanks for the detailed explanation.

@jpaulm Does this look good to you? I always feel uneasy about what "makes sense" means as there seems to be quite a mental jump between JS and FBP.

[2015-02-28 19:19] jpaulm commented on #12
@comfreek Brilliant!  Thanks so much for figuring this out!

Yes @kenhkan that sounds to me exactly what the problem was.  I just
couldn't see it!  I'm embarrassed!

Actually this also explains why this bug didn't affect reader and writer!

@kenhkan do your delay test cases work now?  I got the impression that they
did already...?  Slightly different scheduling logic, maybe?

Regards,

Paul

@jpau

[2015-02-28 19:27] kenhkan commented on #12
Welcome to the JS world! :) It's not you at all. It's just extremely easy to make mistakes and extremely hard to debug in JS. @ComFreek did a fantastic job finding the bug.

Yes it does. It didn't initially for a different reason: because I hadn't implemented loopers in ES5. All is good now.

And yes, completely different scheduling logic.

[2015-03-01 14:24] jpaulm commented on #12
Hi @comfreek Your explanation felt right, but then I realized that I only
add a process to the Ready Queue if it has the appropriate status.

InputPort lines 54, 89

OutputPort lines 31-33

I feel we are on the right track - or maybe I jumped to conclusions reading
your note.  What lines did you actually change?

Regards,

Paul
On Feb 28, 2015 3:27 PM, "Kenneth Kan" <notifications@github.com> wrot

[2015-03-01 16:53] ComFreek commented on #12
Hi @jpaulm,

fundamentally, it is [this if statement](https://github.com/jpaulm/jsfbp/blob/master/core/runtimes/FiberRuntime/index.js#L203) which has been added to FiberRuntime/index.js.

For the purpose of debugging I have now created a new branch at my fork: https://github.com/ComFreek/jsfbp/tree/debug<br> That branch contains the code base in its form prior to the alleged fix except for the uni

[2015-03-01 18:53] kenhkan commented on #12
Yea.

I agree. My opinion came from my observations that it tends to be much easier to make such mistakes in JS. By no means is this exclusive to JS. :)

[2015-03-01 19:01] kenhkan opened #25 "Back pressure"
@tlrobinson @ComFreek

I've been trying to tackle back pressure in my fork, and I must say I'm hitting a dead-end and it'd be nice to hear your thoughts on this.

Take a look at [this gist](https://gist.github.com/kenhkan/420daef88998e7b95b26). Replace the content of `recvr.js` on [@ComFreek 's fork](https://github.com/ComFreek/jsfbp/tree/streams-impl) and run `fbptest01.js`. You should see someth

[2015-03-02 12:03] jpaulm commented on #12
@comfreek if line 10 of the debug.txt is the queue, it's wrong - the only
thing on the queue should be sender.

At start time I only push processes which have no non-IIP input ports.
Dunno where this logic disappeared to! :-)

Also, FiberRuntime.close is missing a test for DORMANT - probably my fault.

Will study code more tomorrow!

Rgds,

P.
 On Mar 1, 2015 12:53 PM, "ComFreek" <notifications@gi

[2015-03-02 12:40] jpaulm commented on #12
Oh, iI found an `|| true` in genInitialQueue that shouldn't be there!

What you observed with the 2 delay components might be explained if delay
goes DORMANT when the callback _starts_ rather than staying ACTIVE  - I'll
try to dig into the code when I get a chance!

Regards,

Paul
On Mar 2, 2015 8:02 AM, "Paul Morrison" <jpaulmorr@gmail.com> wrote:

[2015-03-02 15:19] jpaulm commented on #12
Process going dormant too esrly?  Shd be only if no data jn cknnection.

cant tell if areUpConnsClosed

Oh, iI found an `|| true` in genInitialQueue that shouldn't be there!

What you observed with the 2 delay components might be explained if delay
goes DORMANT when the callback _starts_ rather than staying ACTIVE  - I'll
try to dig into the code when I get a chance!

Regards,

Paul
On Mar 2, 2015

[2015-03-02 15:27] jpaulm commented on #12
Darned tablet!

Process going dormant too early?  Shd be only if no data in connections AND
not all upstream connections are closed.

I can't tell if areUpConnsClosed () includes the test for data in the
connections or not!

This may have to wait until I get home.   However you could look at JavaFBP
- either Network or Component - I forget which!

Rgds,

Paul
On Mar 2, 2015 11:19 AM, "Paul Morriso

[2015-03-03 14:58] jpaulm commented on #12
@comfreek  looks like we can remove comment in Readme that starts with "use
some subset of the following " - -could you please do that...?

Have you updated all the components accordingly?

TIA

Paul

Darned tablet!

Process going dormant too early?  Shd be only if no data in connections AND
not all upstream connections are closed.

I can't tell if areUpConnsClosed () includes the test for data in

[2015-03-03 15:11] jpaulm commented on #12
Also the `||true` from line 143 of index.js

Thanks,

P.
On Mar 3, 2015 10:58 AM, "Paul Morrison" <jpaulmorr@gmail.com> wrote:

[2015-03-03 15:21] ComFreek commented on #12
Hi Paul,

**README**

I haven't touched the README yet because the API should be stabilized before in my opinion. However, I don't think that we change the Network or Runtime public methods once again in near future. So I'll update that part.

**Queue**

I'll have a look at this!

Sorry for the `|| true` - I used that while debugging :smile:

**Components**
No, I have not updated all the component

[2015-03-03 16:19] ComFreek commented on #12
Done:
- [x] README
- [x] `|| true`
- [x] Initial queue logic (genInitialQueue had a logic problem (I hope I [got it right](https://github.com/jpaulm/jsfbp/commit/303ae68788226e283f6036db5cc969ab14ac8486) &mdash; `Array#every()` returns true if every array item fulfills the given predicate function)

[2015-03-03 18:07] ComFreek commented on #25
Streams do support backpressure (with highWaterMark) &mdash; although I didn't get it to work (= the data just flows) and I currently don't have much time to investigate further. For this to work we have to introduce some kind of function whose call blocks the component. Using Promise.coroutine() and yield would look as follows:
[code]

My implementation of `OutputPort#blockingSend` looks as follo

[2015-03-03 18:12] tlrobinson commented on #14
I've expanded my proof-of-concept into a fully functional prototype: https://github.com/tlrobinson/sbp

Like the PoC, it uses Streams, as well as a combination of Promises, Generator functions, and Bluebird's `coroutine` (or Q's `async`) method to achieve a synchronous style similar to existing cFBP (classical FBP) implementations, including jsfbp.

I'd be curious to hear from the experts whether

[2015-03-03 18:13] tlrobinson commented on #25
In cFBP is back-pressure considered "advisory" (i.e. to prevent processes from being overwhelmed with IPs), or is strict/immediate back-pressure feedback necessary for correctness?

I ask because my implementation using Node streams (https://github.com/tlrobinson/sbp discussed in #14) currently supports back-pressure, but suffers from the problem you mentioned in another issue where it takes ~N wr

[2015-03-03 18:20] tlrobinson commented on #25
Also, I don't consider requiring `yield` in front of sends to be a big deal. In fact it's kind of a nice symmetry. Though it would be good if we could somehow detect if a component accidentally leaves off a `yield` in front of a send.

[2015-03-04 03:49] kenhkan commented on #25
@ComFreek Your implementation makes a lot of sense! Thanks for the pointers. I was trying to get more ideas as to how this could possibly be done. And I agree with @tlrobinson that the `yield` isn't out of place at all, but yea, I also think that an uninitiated component designer would leave it off and has no idea what's going on.

@tlrobinson To my knowledge back-pressure is pretty important and

[2015-03-04 04:33] tlrobinson commented on #25
@kenhkan If that's the case then "pull" type streams are the only way to connect ports, right?

How are processes distributed across OS processes or physical machines/networks? Does a "receive" essentially send a blocking request (RPC?) for the next IP to the upstream process?

Are there any example/documented network protocols for cFBP implementations? I think that would help clarify it a bit for

[2015-03-04 05:46] kenhkan commented on #25
@tlrobinson I'm not sure actually, as I'm in the exploratory phase as well. All I know is that what Paul envisions as "push" is like a process "pushing" control flow to its neighbors when IPs are moved, be it upstream or downstream. Say, `A -> B -> C`, the connection between `A` and `B` is full, and the connection between `B` and `C` is empty. When `B` has processed an IP, `A` would unblock, so it

[2015-03-04 06:36] tlrobinson commented on #25
By "pull" I mean the downstream processes need to explicitly tell the upstream processes whenever they can accept another IP, e.x. "ok now you can give me a single IP" vs. "ok now you can give me IPs until I tell you to stop".

Or perhaps if a connection has a capacity >1 it can say "ok now you can give me up to X number of IPs, until I tell you I you can give me more" (similar to TCP windows).

E

[2015-03-04 12:45] jpaulm commented on #12
Sorry about this too quick reaction - the logic was being masked by the
`||true`, which you have now removed. Thanks!

On Mar 3, 2015 12:19 PM, "ComFreek" <notifications@github.com> wrote:

right — Array#every() returns true if every array item fulfills the given
predicate function)

I'll take a look.

Based on yr analysis of the callback problem, I'm suspicious of the logic
where I check to see i

[2015-03-04 12:54] jpaulm commented on #12
On Mar 3, 2015 11:22 AM, "ComFreek" <notifications@github.com> wrote:

The number of slots in Connection's array that point to IPs.

The array is used as a ring, so usedSlots is a quick way to tell if the
Connection is empty (usedSlots == 0) or full (usedSlots == capacity).
Another way is to test if nextget == nextput and, if so, is the slot they
point at empty or full.

Don't know if there is muc

[2015-03-04 14:39] kenhkan commented on #25
Got it. That makes sense. It sounds like your second approach is more fundamentally sound. And yes, I'm pretty sure for FBP semantics to work you'd need explicit acks.

@jpaulm Any insight on a network protocol for FBP?

[2015-03-05 17:20] jpaulm commented on #12
Hi @comfreek

You asked about areUpConnsClosed

The every () logic looks good, but I feel that the test for empty
connection does not belong in  this routine.   In JavaFBP, we have a test
on a Connection called isDrained, which is isClosed && isEmpty .  I feel
this is cleaner.  There are situations where isClosed is more appropriate,
and ones where isDrained is better!   To really close a process,

[2015-03-07 02:35] tlrobinson commented on #14
@jpaulm @alfa256 @ComFreek @brodavi @kenhkan Any thoughts on this?

[2015-03-07 14:05] jpaulm commented on #14
Collate1 looks interesting - it seems strange that you can't "hide" the
yield, but I guess we can just hold our noses!

What I am curious about is whether you ran a complete test case, e.g.
fbptest01 with only the two changes you mention wrt collate1, and if so how
did it perform relative to the version on JSFBP (
https://github.com/jpaulm/jsfbp/ ).

Collate2 looks much more alien to me - it even

[2015-03-07 18:16] tlrobinson commented on #14
much more of a concern, but this will probably be remedied before long if
and when fibers catches on!

@jpaulm It's highly unlikely fibers will be added to browsers. If you don't believe me try asking a few other JavaScript experts.

[2015-03-07 21:43] jpaulm commented on #14
@tlrobinson  And Streams and Promises are better than Fibers... how?!
Because some JavaScript guru has blessed them...?  Just curious!

[2015-03-07 23:32] tlrobinson commented on #14
@jpaulm The main thing is with fibers you can't tell if a function call is going to block execution, whereas with generators you explicitly yield within a generator function (that's why the yield can't be hidden) Here's a description of the difference between generators and fibers: https://gist.github.com/creationix/6416266

But the important thing is generators are *already in ES6* (the next vers

[2015-03-08 00:13] jpaulm commented on #14
I just wrote the following to Comfreek:

connection is empty.  I don't see this as a leaky abstraction - the
application designer does not even think in these terms - she just sees
processes running asynchronously,  with data chunks flowing across
unidirectional connections - with back pressure.

I don't _want_ to know whether  a function call is going to block execution
- it should not affect the

[2015-03-08 10:01] tlrobinson commented on #14
In JavaScript it has always been safe to assume a function will run to completion before another event fires which could change the state that the function is using. Fibers break that assumption, which is unacceptable to a lot of people, including the people in charge of defining future versions of JavaScript.

Generators also break that assumption, but you have to explicitly opt-in by declaring a

[2015-03-08 12:21] jpaulm commented on #14
This discussion is interesting,  but I feel it should be on the Group,  so
it gets a wider audience.   Could one of you, @tlrobinson or @comfreek
start a topic on the Group,  maybe with the last few posts. ..?

On Mar 8, 2015 6:01 AM, "Tom Robinson" <notifications@github.com> wrote:

completion before another event fires which could change the state that the
function is using. Fibers break that as

[2015-03-08 13:14] jpaulm commented on #14
It seems to me that the appropriate place for much of this discussion is
the JSFBP topic on the Group.  Could we move at least the important posts
there?  Thanks.

PS I would do it, but it would be very difficult using my little tablet!
:-)
On Mar 8, 2015 8:21 AM, "Paul Morrison" <jpaulmorr@gmail.com> wrote:

[2015-03-10 14:06] jpaulm commented on #25
FWIW, almost 50 years ago, we discovered that acks and naks are not
adequate for full duplex lines!  I guess that's well-known now!

My Socket implementations  (not Web Sockets) on JavaFBP and C#FBP are
basically one-way, except that they wait for a response after every 20
messages.  Would this help?

Lastly I believe @jonnor has done the most work on protocols...

Regards,

Paul
On Mar 4, 2015 10

[2015-03-15 17:40] kenhkan commented on #25
Is FBP duplex at all? When you say `A -> B`, `B` really has no way and no need to communicate with `A` except to tell `A` that it can no longer except more IPs (and of course to tell it that the port is already taken, but that's at initiation time). So wouldn't acks/naks work?

[2015-03-15 20:01] jpaulm commented on #25
No, I was thinking of a network where some of the links are running on full
duplex long distance lines.  Of course the links themselves are
one-directional.

Also I'm not totally comfortable with the terminology "B tells A"  - B
doesn't know A exists or v. v. !
On Mar 15, 2015 1:40 PM, "Kenneth Kan" <notifications@github.com> wrote:

[2015-03-29 19:01] jpaulm commented on #14
Hi ComFreek,

Nice to hear from you - and nice to be back!

I am starting to look at JSFBP's derivatives - your streams-impl, and Tom's sbp (streampunk?).   BTW Will you be updating your fork's readme to include the instructions you sent me?  I think it would be useful.

What I find so strange is that these (to my way of thinking) contorted forms are said to seem _more_ natural to a JS user (at le

[2015-03-31 21:45] tlrobinson commented on #14
Correct, my position is that it is very unlikely that fibers have a future
in the JavaScript language standard (ECMAScript), and they can't even be
reasonably shimmed into existing versions of JavaScript via "transpiling"
(unlike generators or async/await). Therefore fibers will never work in
browser JavaScript (the largest deployed programming environment, by far),
and should not be used as the f

[2015-04-01 00:29] JeanHuguesRobert commented on #14
Hi Paul,

The lack of threads, actually the lack of "continuations", aka callcc(), is definitely an issue that puts JavaScript in the unfortunate situation where C was before threads where introduced, a while ago, 25 years ago I guess.

I tend to think that the current situation will prevail for the next 5 years at least, forever maybe. The reasons for that are beyond my understanding (and too lon

[2015-04-02 20:35] bjouhier commented on #14
@jpaulm Hi Paul,

I've been monitoring the fibers/promises/generators/async-await debates for the last 5 years and I concur with the general opinion that fibers, despite all its qualities, is very unlikely to get a very wide acceptance.

Fibers had a window of opportunity in 2011-1013 and it managed to gather some interesting momentum, especially with [meteor](https://www.meteor.com/). There were

[2015-04-03 15:08] forresto commented on #14
Here is an example of 4800 'green' threads running in the browser via clojurescript and core.async. The Core.Async talk linked there is quite interesting: http://programming-enchiladas.destructuring-bind.org/rm-hull/8262502

[2015-04-03 15:41] jpaulm commented on #14
Thanks, Forrest, maybe Clojure is the way to go!  Interesting that he talks
about addressing "callback hell" as well - this seems to be the most common
criticism of JavaScript!

On Fri, Apr 3, 2015 at 11:08 AM, Forrest Oliphant <notifications@github.com>
wrote:

[2015-04-03 23:07] jpaulm commented on #14
Merci, Jean-Hugues et Bruno!

I assume all these mechanisms (Promises, Streams, etc.) are essentially green-thread-based.  Given that more and more devices have multiple cores, perhaps green thread solutions are no longer as relevant as they were...?  What approaches are there to having JavaScript play with multiple cores?

Also, Bruno, you say, "The shallow model forces all the yielding points to

[2015-04-04 20:35] bjouhier commented on #14
Promises and streams don't use green threads. They are usually (*) implemented as vanilla JS libraries. Promise libraries can be a bit hairy because the Promise specs impose a rich API but you can capture the essence of a promise (a future aka thunk) in a few lines of JS. I blogged about it a while ago (https://bjouhier.wordpress.com/2011/04/04/currying-the-callback-or-the-essence-of-futures/).

(

[2015-04-04 20:59] bjouhier commented on #14
One more word on the shallow model and FBP: of course you would be on the safe side with FBP because the yielding points are imposed and hidden. You are also on the safe side if you use Marcel's _futures_ library with the right discipline (the yielding point are `wait()` calls that surface at all levels). But the JS language designers have to cater for every situation, not just FBP or a specific _

[2015-04-04 23:18] jpaulm commented on #14
Hi @bjouhier, thanks for the info on Promises - that helps quite a bit!  I
can of course see the *single frame continuation *rule* - *in fact, I have
long suspected that one could build a simpler FBP engine by restricting
sends and receives to the top level of a process.  I might play with that!  I
am not really keen, though, on leaking implementation restrictions into the
mental model - but I can

[2015-04-05 15:54] tlrobinson commented on #14
Threads-a-go-go (and specifically this fork:
https://github.com/audreyt/node-webworker-threads ) provides an API similar
to "WebWorkers" which are in most browsers.

Unfortunately node-webworker-threads seemed very unstable last time I tried
it (a few weeks ago)

As an aside, I've got a toy FBP implementation in ~100 lines of Go here:
https://github.com/tlrobinson/streampunk.go
On Sat, Apr 4, 2015

[2015-04-05 17:30] jpaulm commented on #14
Node-webworker-threads looks interesting!  However I think I'm missing something important - `https://github.com/audreyt/node-webworker-threads/blob/master/README.md - Why Threads (4)` says "The threads of a process share exactly the same address space, that of the process they belong to. Every thread can access every memory address within the process' address space.", but @bjouhier above said  "Y

[2015-04-05 21:48] bjouhier commented on #14
@jpaulm  This sentence is  a generic statement about threads. I doubt that it applies to JS code run by node-webworker-threads. With V8 if you try to have two threads that run in the same isolate and that both modify a shared JS object, you will just get a crash. The V8 engine is not designed for that.

[2015-04-06 01:48] jpaulm commented on #14
How would the machine know to crash?!  Von Neumann machines aren't usually smart enough...

@audreyt would you care to comment?  I read the passage about threads in `https://github.com/audreyt/node-webworker-threads/blob/master/README.md` as being very specifically about worker threads...?  TIA

[2015-04-06 06:33] bjouhier commented on #14
What I meant is that you will get an assertion error or a SEGV or another kind of error and your process will terminate. Simply because you are calling an API from more than one thread and that API is not designed for that.

[2015-04-06 14:15] jpaulm commented on #14
Ah, I see!  Thanks, @bjouhier!  Back to square one!

On Mon, Apr 6, 2015 at 2:33 AM, Bruno Jouhier <notifications@github.com>
wrote:

[2015-04-06 16:56] ComFreek commented on #14
@jpaulm
The more I re-read some of the comments above, the more I share the conclusion that a FBP implementation allowing its graph to span across different networks, operating systems and programming languages would definitely be superior to any FBP implementation restricted to a single programming language. As you can see, JSFBP will not be able to use real threads in near future as JS (and V8 a

[2015-04-06 20:46] jonnor commented on #14
@ComFreek https://github.com/the-grid/msgflo

[2015-04-06 20:53] chadrik commented on #14
I've also wondered if it would be possible to do this with a FBP wrapper around [celery](http://docs.celeryproject.org/en/latest/index.html) and its [canvas primitives](http://docs.celeryproject.org/en/latest/userguide/canvas.html#the-primitives).

[2015-04-06 21:13] audreyt commented on #14
node-webworker-threads works on Node 0.10.x and is known to be unstable with 0.12.x and io.js, which I hope to fix in the coming weeks.

It is true that `node-webworker-threads` cannot share mutable structure across worker threads and with the main thread; the same principle applies to WebWorker in browsers, too.

[2015-04-06 23:47] jpaulm commented on #14
@comfreek As always, my questions would be: what language(s) and what operating system(s)?  Given the existence of languages which don't play together too well, such as Java and C#, sockets would seem a promising approach...  JavaScript seems to be able to talk to C[++], so this suggests that it might be interesting to work with Boost...  What did you have in mind?

[2015-04-08 17:49] laverdet commented on #14
fwiw I want to echo what @tlrobinson & @bjouhier said about fibers never making it into browsers or a standard. I started working on fibers in early 2011 when early versions of generators were still being discussed for standardization. We all knew `yield` was coming to JS and that it would likely be single frame, but we didn't know the exact API or syntax. And it definitely wouldn't be ready soon.

[2015-04-08 20:18] ComFreek commented on #14
@jonnor Thanks for the link, the readme seems very elaborate! Is there any quickstart guide available? I would like to see it in action (e.g. having component A running on my PC and component B on my notebook, both connected to my router).

@jpaulm As it is the very idea of the "FBP library", I would target some a wide range of operating systems and programming languages by employing low-level lan

[2015-04-08 20:44] jonnor commented on #14
@ComFreek we're using it production a couple of places, but still have not landed on final API - so usage docs are not the priority yet. Will probably tag & announce first stable in a couple of weeks, when we've migrated everything in the production pipeline to it. For now, see: https://github.com/the-grid/msgflo/blob/master/spec/fixtures/participants.coffee https://github.com/jonnor/imgflo-server

[2015-04-09 15:37] jpaulm commented on #14
Merci, @laverdet!  I think it is becoming obvious that what we really need
is software that takes advantage of multiple cores.  AFAIK none of the
planned extensions of JS provide this.   As @comfreek says, it would be
even better if it allows multiple languages and infrastructures to
communicate in a coordinated way.  Does msgflo (or any other systems that
people are aware of) address these requir

[2015-04-09 19:24] laverdet commented on #14
Cluster and workers both take advantage of cores

[2015-04-09 21:09] jpaulm commented on #14
Do you have a link for clusters?  Couldn't find anything on Google!
On Apr 9, 2015 3:24 PM, "Marcel Laverdet" <notifications@github.com> wrote:

[2015-04-09 21:10] laverdet commented on #14
First result in Google for "node cluster"

[2015-04-09 21:39] bjouhier commented on #14
@jpaulm I encourage you to also take a look at https://github.com/iojs/io.js/pull/1159. This is work in progress on io.js but it looks very promising. A pure JS implementation based on a worker library which is blessed by io.js (and hopefully bundled with it some day soon) could be a winner.

[2015-04-09 23:19] jpaulm commented on #14
Thanks @bjouhier - sounds interesting!
On Apr 9, 2015 4:39 PM, "Bruno Jouhier" <notifications@github.com> wrote:

[2015-04-11 20:45] jpaulm commented on #14
Here is a quote from http://www.jpaulmorrison.com/fbp/noflo.html :

How would these be approached in a fully isolated environment such as that described in https://github.com/iojs/io.js/pull/1159 ?

[2015-04-12 01:56] tlrobinson commented on #14
The same approaches you would use to distribute FBP processes across OS
processes or hosts, right?
On Sat, Apr 11, 2015 at 1:45 PM jpaulm <notifications@github.com> wrote:

[2015-04-12 14:24] jpaulm commented on #14
I asked first!  :-)  And no, I don't know how to do this across OS processes or hosts either.  IIRC Matt Lai has something he calls the "traffic cop" which can manage things like back pressure, but I'm not sure how that generalizes across multiple OS's.

[2015-04-15 00:31] jpaulm commented on #14
Matt Lai gave a pretty complete description of his approach using Tcl/Tk in his March 19, 2014, post in https://groups.google.com/forum/#!searchin/flow-based-programming/appkata/flow-based-programming/hnst0E6AcUI/6al-uVAKL4oJ .

[2015-04-23 14:10] bmeck commented on #14
processes!  It's not rocket science!

Do you mean Hoare? http://spinroot.com/courses/summer/Papers/hoare_1978.pdf

[2015-04-27 18:40] jpaulm commented on #14
No, Bradley, it is Dijkstra! See

http://www.cs.utexas.edu/users/EWD/ewd01xx/EWD123.PDF

I can't read it on my tablet but Google found it!  I _believe_ this
predates Hoare's CSP.

Regards,

Paul

[2015-06-21 17:08] jpaulm commented on #14
I have just posted a web page about the Concat (Concatenate) component in "classical" FBP and in NoFlo - http://www.jpaulmorrison.com/fbp/concat.html .  Comments would be appreciated.

Note: we are not sure if the cited Concat.coffee program is up to date.

[2015-08-25 18:49] brodybits opened #28 "Improve web service support"

[2015-10-21 21:58] jpaulm opened #32 "The dog that didn't bark"
Test network `testsubstreamsensitivesplitting.js` should stop with a deadlock when the connection capacities are set to a small number - strangely enough, it doesn't, although the same network in JavaFBP and C#FBP (preemptive multithreading) does.

Challenge to the reader: why doesn't it deadlock?  TIA

[2015-10-26 17:55] jpaulm commented on #32
It now appears that the deadlocks we were getting for this case in JavaFBP and C#FBP _may_ have been due to programming bugs.  I still wouldn't trust it, though, as it is still an example of the divergent-convergent topology.   Perhaps some kind soul might undertake to do some analysis of this situation...

[2015-11-03 02:53] giantelk commented on #14
What's the consensus on using Node Fibers? My experience with JavaScript and web app's, or hybrid mobile i.e. Cordova/PhoneGap, React Native... which all use JavaScript is that 70-90% of the app's code is client side. So for me JSFBP needs to run in the browser?

Does NoFlo run in the browser? What do they do differently from JSFBP to make that happen?

[2015-12-29 16:52] jpaulm opened #33 "collate.js missing logic to insert open and close brackets"
`collate.js` missing logic to insert open and close brackets

[2016-01-14 16:05] jpaulm commented on #33
Fixed!

[2016-01-14 16:06] #33 closed

[2016-01-14 17:33] jpaulm opened #34 "Images"
![update_c](https://cloud.githubusercontent.com/assets/312871/12332149/efc37f52-baba-11e5-8775-d1516a0cc568.png)

[2016-01-14 18:12] jpaulm commented on #34
![jsfbp](https://cloud.githubusercontent.com/assets/312871/12333111/52f268b8-bac0-11e5-963d-08061734dc68.png)
![fbptest11](https://cloud.githubusercontent.com/assets/312871/12333117/5ae111a0-bac0-11e5-8167-0bb4bfb24f25.png)

[2016-01-17 19:10] jpaulm opened #35 "Not keen on 2nd parameter of defProc function in Network.js"
If you look at https://github.com/jpaulm/jsfbp/blob/master/examples/update_c.js , you will see 3 occurrences of the `reader.js` component.  The 2nd parameter of the `defProc` calls seems to be there just to produce meaningful list items in the trace log, if one is requested.  OTOH it means thinking up what is really a 3rd name for the process.  I would suggest that the name simply be generated usi

[2016-05-24 15:51] dancrumb opened #36 "Add to npm"
What are your thoughts about adding this to the Node Package Manager system, so that folks can use it that way.

I know that npm supports adding dependencies directly from github, but a distribution version of this would be great!

I'm more than happy to do the legwork here.

[2016-05-25 13:50] jpaulm commented on #36
Good to hear from you, Dan!  It would be great if you could add jsfbp to npm - you sound like you're familiar with all these arcane tools!  Does npm have a way of publicizing new packages?

Have you used jsfbp - if so, did it hold up, and what enhancements do you see it needing?  It has been a point of frustration for me that I hear all these js gurus saying we can never get a JS tool accepted tha

[2016-05-25 15:55] dancrumb commented on #36
Great! I'm working on a pull request.

Since you don't know me, let me just say that I am not precious about my code, so please be direct about your feedback... I can take it :)

I am just getting into jsfbp. I tinkered with noflo but was frustrated about their bias towards coffeescript (to the point of not including JS examples in places).

As an ex-firmware developer, I actually really like fibe

[2016-05-25 15:56] dancrumb opened #38 "collate test fails"
The collate test is currently failing:

[code]

It looks like the `null` IPs are being propagated instead of dropped.

[2016-05-25 18:35] dancrumb opened #40 "Composite components"
Regarding composite components

Is it intended that composite components are simply components that contain Networks? Is this the right approach?

[2016-05-26 13:54] #38 closed

[2016-05-26 14:02] jpaulm commented on #36
Hi Dan,

I really have to reeducate myself on jsfbp!  I have merged both your PRs,
and added you as a collaborator - although it seems that this isn't really
necessary as it looks like anyone can edit jsfbp... is this OK?

Feel free to go ahead with enhancements, bug fixes, etc.!

Cheers,

Paul M.

PS Why would the JS community resist fibers?!

On Wed, May 25, 2016 at 12:05 PM, Dan Rumney <notific

[2016-05-26 15:24] dancrumb commented on #36
And lo! it was so: https://www.npmjs.com/package/jsfbp

[2016-05-26 15:36] jpaulm commented on #36
That's amazing!  Thanks a million!

Best regards,

Paul

On Thu, May 26, 2016 at 11:24 AM, Dan Rumney <notifications@github.com>
wrote:

[2016-05-27 18:32] jpaulm commented on #36
Sorry, Dan, Marcel, I have just destroyed the copy of jsfbp on my C drive,
and my Readme instructions don't seem to work any more!  I run Win7.   It
started because I couldn't get access to .git/FETCH_HEAD after upgrading
posh_git...  Someone suggested deleting it, but that doesn't seem to help!

Could one of you take a look at the readme, and see what is going wrong?

TIA

PS Pls ignore title of

[2016-05-27 23:15] dancrumb opened #42 "Following README on Win 7 doesn't work"
Trying to get started on Win 7 by following the README does not work.

What gives?

[2016-05-27 23:15] dancrumb commented on #36
I just created #42 to track this

[2016-05-27 23:17] dancrumb commented on #42
So, I know you're using posh-git and that you're doing a clone.

Can you provide a cut and paste from your terminal showing commands and results from the git clone through to the error you're seeing?

[2016-05-27 23:17] dancrumb commented on #42
Also, what version of node are you on?

[2016-05-27 23:17] #36 closed

[2016-05-27 23:25] dancrumb commented on #35
I'm not sure that all functions have a name property in JavaScript, since it supports anonymous functions.

Perhaps you could support name templates a little bit like the old C function mktmp (http://linux.die.net/man/3/mktemp)... Just not quite so restrictive.

[2016-05-27 23:30] dancrumb commented on #13
I'm going to look into a small abstraction layer to handle process start and fiber yields together

[2016-05-27 23:45] dancrumb opened #43 "Set up Travis testing"

[2016-05-27 23:45] dancrumb commented on #7
Opened #43 for Travis CI

[2016-05-27 23:48] dancrumb commented on #34
This is complete, right?

[2016-05-28 00:54] dancrumb commented on #43
Assigning this to you, @jpaulm. The PR at #43 resolves this, codewise, but it needs a repo admin to set up the GitHub-Travis link.

It's a trivial task... 5m at best.

[2016-05-28 02:11] jpaulm commented on #42
Right now, nothing much works!  node -v says v0.12.7

There is no .git directory in my jsfbp folder.

Doing npm install jsfbp gives

C:\Users\Paul\Documents\GitHub>npm install jsfbp
npm WARN engine jsfbp@0.1.0: wanted: {"node":"~4.3.1"} (current:
{"node":"0.12.7
","npm":"2.11.3"})

The current nodejs download is v4.4.5 - would it be OK to use this?  I'm
out of time tonight - will try tomorrow.

Th

[2016-05-28 04:18] dancrumb commented on #35
I was able to confirm my first point from the `node` REPL:

[code]

Anonymous functions do, indeed, have no name, so they can't be relied upon for naming Processes.

I'm going to create a speculative PR for a possible solution to this.

[2016-05-28 12:05] dancrumb commented on #42
Running `npm install jsfbp` won't generate a `.git` directory as it's not quite the same. For one thing, the JSFBP module doesn't include `test` or `examples` directories. Think of it more as a deployment package.

In addition, while `npm` _can_ pull from github, it's not a git client, so it doesn't pull git index information and it doesn't generate a repository

`git clone` will pull down the ful

[2016-05-28 12:13] dancrumb commented on #42
As for the node version, I've updated `package.json` to prevent the complaints. I don't see any reason to not to support v0.12.7.

[2016-05-28 12:27] dancrumb opened #48 "Add support for .fbp files"
Since flowbased/fbp is a thing (and thus, the parsing is a done deal),it would be nice if JSFBP supported
.fbp files.

[2016-05-28 12:37] dancrumb commented on #48
In order to do this we'll need:

- [ ] Support for loading components by name
- [ ] FBP parser (as a dependency)
- [ ] API for creating a network from an FBP definition
- [ ] Relevant documentation

[2016-05-28 15:23] jpaulm commented on #42
I have downloaded the latest Node and things look a bit healthier, but when
I try cloning jsfbp I get

C:\Users\Paul\Documents\GitHub>git clone https://github.com/jpaulm/jsfbp
Cloning into 'jsfbp'...
C:/Users/Paul/Documents/GitHub/jsfbp/.git: Permission denied
Deletion of directory 'jsfbp' failed. Should I try again? (y/n) y
Deletion of directory 'jsfbp' failed. Should I try again? (y/n) y
Deletio

[2016-05-28 18:16] jpaulm commented on #42
Log of my latest attempt using https clone...  Hellpp!
[GitHubLog.txt](https://github.com/jpaulm/jsfbp/files/287879/GitHubLog.txt)

[2016-05-28 22:33] jpaulm commented on #42
Hi Dan,

Methinks this is due to BitDefender ant-ransomware software!  It gives me a lot of trouble when using Git, but I didn't think it would block access altogether!  :-(

Sorry for wasting your time - I'll start going through the changes/ looking at the issues tomorrow.

Thanks again and apologies!

[2016-05-28 22:41] jpaulm commented on #42
Could you do me a favour and revise the install instructions...  and maybe add a warning about BiDefender!  :-)  BTW I did an `npm install jsfbp`, but I'm not sure what it did!

[2016-05-30 01:59] #43 closed

[2016-05-30 01:59] dancrumb commented on #42
Looks like you addressed the BitDefender readme update, so i'll close this.

[2016-05-30 01:59] #42 closed

[2016-05-31 02:17] #48 closed

[2016-05-31 14:38] dancrumb opened #51 "Expose IP types on the Process object"
It's good form to avoid explicit dependencies on JSFBP objects.

Right now, users need to depend on the IP object in order to create brackets.

Let's expose those types on the Process object so that they are accessible to component creators.

[2016-05-31 14:39] dancrumb commented on #51
I have a branch for this. It also converts the types to an Enum, since we have that structure available to us.

[2016-06-01 14:08] dancrumb opened #57 "Empty IIPs are treated incorrectly"
Line 62 in Network.js incorrectly identifies connections to empty IIPs as being Process connections

[2016-06-01 15:40] #57 closed

[2016-06-01 15:57] dancrumb opened #59 "Strange behaviour when an IIP and OutPort connect to the same InPort"
I've created a branch (bugfix/support-iip-and-output-to-inport) which shows some behaviour that I'm not sure about.

I have the following network:

[code]

I expected to see the result `[1, 2]`.

Instead, the test times out. When you switch on tracing, it looks like `RECVR` constantly reads `1` from its `IN` port.

Is this correct behaviour? Should a port connected to an IIP constantly be able to

[2016-06-01 16:15] dancrumb commented on #59
OK - I was able to determine that the `IIPConnection` implementation had a small bug, in that it ignored the `conn.closed` property.

Fixing that got rid of the infinite IIP problem.

However, now I'm seeing 2 things:

1. The behaviour of the network is dependant on the order of connection definition
2. The IIP never gets read, if the network runs.

So, here are my questions:

1. Is a network with

[2016-06-01 20:16] dancrumb commented on #59
I updated the branch and created PR #61

I thought this was a general problem with merge points feeding into process, but this does seem specific to IIPs and OutPorts connecting to an InPort.

[2016-06-01 22:36] dancrumb opened #62 "Switch to associative arrays where appropriate"
We use basic arrays in a number of places where associative arrays are more appropriate.

I'm working on changing that.

[2016-06-02 15:20] jpaulm commented on #35
Just curious - why?!

On Wed, Jun 1, 2016 at 10:42 PM, Dan Rumney <notifications@github.com>
wrote:

[2016-06-02 16:41] dancrumb commented on #35
I closed it by accident... i meant to close the PR

[2016-06-03 02:38] #59 closed

[2016-06-03 22:20] #51 closed

[2016-06-03 22:20] #35 closed

[2016-06-03 22:20] #62 closed

[2016-06-07 22:30] dancrumb commented on #13
I think this is done with #74

What do you think?

[2016-06-07 22:30] dancrumb commented on #32
FWIW: fbptest07 fails with a deadlock (as expected)... does that make you feel better? :)

[2016-06-07 22:31] dancrumb opened #75 "Add automatic ports"

[2016-06-07 22:31] dancrumb opened #76 "Add external ports"

[2016-06-08 14:03] jpaulm commented on #32
Thanks!  Much better! Shall we close it?

[2016-06-08 14:21] #32 closed

[2016-06-08 14:21] dancrumb commented on #32
Done!

[2016-06-08 14:24] dancrumb commented on #75
Once #74 is ready, this becomes a little clearer. Automatic Ports then become a subtype of Ports.

[2016-06-08 14:26] dancrumb commented on #75
Network will need to be updated to support the creation of connections with automatic ports, probably with some kind of notation to indicate that a port is automatic

[2016-06-08 17:37] jpaulm commented on #16
@dancrumb - you might want to take a look at @comfreek's suggestions - or maybe you already have!

[2016-06-08 17:42] jpaulm commented on #13
Not really sure what @comfreek was trying to encapsulate - I didn't think
there were any other possible implementations...?

On Tue, Jun 7, 2016 at 6:30 PM, Dan Rumney <notifications@github.com> wrote:

[2016-06-08 17:49] jpaulm commented on #75
The asterisk notation should be OK...?   E.g.
`network.connect(Writer, '*', Reader, '*', 5);`
or
`network.sconnect('Writer.*', 'Reader.*', 5);`

Or have you taken care of that already?

[2016-06-08 18:07] dancrumb commented on #75
I like that.

I haven't done it yet, since this isn't strictly specified somewhere. However, I don't see that as a reason not to proceed. If folks push to go in another direction (why would then?), the code can be modified accordingly

[2016-06-09 01:57] jpaulm commented on #75
Sounds great!  Thanks!

On Wed, Jun 8, 2016 at 2:07 PM, Dan Rumney <notifications@github.com> wrote:

[2016-06-10 09:10] ComFreek commented on #13
As far as I remember, I wanted to insert an abstraction between the network code itself (componenet functions) and the runtime. This would give more flexibility when switching runtimes, especially between Fiber-like runtmes and generator runtimes (@dancrumb maybe you have seen some traces of it in the  code base).
However, the problem was that generators required the use of the `async` function mo

[2016-11-11 14:19] jpaulm opened #78 "Need to reinstate send suspend logic"

[2016-11-11 17:08] dancrumb commented on #78
I want to make sure I understand the logic that you're talking about.

This is the logic that suspends a receiver when there are no IPs currently in any incoming connections to the InputPort that the receiver has called receive on. Is that correct?

[2016-11-11 21:51] dancrumb commented on #78
On further investigation, I see that the whole `receive` code is broken, because there's no support for multiple connections coming into an `InputPort`.

If you have the patience, I'd like to spend some time working on resolving this. It will probably take a few days. I'll work on a branch so that there is a reviewable Pull Request.

If you're already working on a fix, just let me know.

[2016-11-12 02:23] jpaulm commented on #78
Re the post before your last one: what seems to have disappeared is the logic to suspend a sender when the connection being sent to is full.  If I'm right, this would explain why the app you were working on saturates storage.  I referred you to the discussion of ballooning in the book - this is not a desirable behaviour, as an error will behave like a storage error.

[2016-11-12 02:42] jpaulm commented on #78
Re your last post, I am happy to let you do this.  I have reset my personal version of jsfbp to the one before PR #74 was merged in.  My initial test worked fine, and I could happily run with this version.  However it is rather a sledge-hammer approach, and would cause jsfbp to lose some doubtless useful changes that you put in later.  So if you can be more surgical about removing the effects of P

[2016-11-16 14:54] jpaulm commented on #78
Hi Dan,

How is this going?  I realized I should have posted a warning on the Readme
when I found about this.  GitHub seems to be slow right now, but I will do
it as soon as possible - unless I hear from you differently.

Regards,

Paul

On Fri, Nov 11, 2016 at 4:51 PM, Dan Rumney <notifications@github.com>
wrote:

[2016-11-16 15:09] jpaulm commented on #78
PS In my npm test breader seems to have broken - can I fix it, or drop it
from npm test?  If the latter, where are the tests stored?

Thx

Paul

On Wed, Nov 16, 2016 at 9:54 AM, Paul Morrison <jpaulmorr@gmail.com> wrote:

[2016-11-16 17:00] dancrumb commented on #78
Hi Paul,

Went away for the weekend and been catching up.

Regarding suspending the sender, I believe this remains in place in the ProcessConnection code, specifically at: https://github.com/jpaulm/jsfbp/blob/master/core/ProcessConnection.js#L79

At this point, if the number of pending IPs is greater than the connection capacity, then the process is put into `WAITING_TO_SEND` status and is not req

[2016-11-16 17:02] dancrumb commented on #78
As I look at it, you should roll my work back... my implementation of connections is way off.

My `ProcessConnection` class has a single capacity, but multiple upstream processes... this is a totally incorrect representation of the way that multiple OutputPorts can fan into an InputPort.

[2016-11-16 17:24] jpaulm commented on #78
Thanks, Dan, it would be best for now.  A few days ago I did a git reset
--hard to the commit before your big merge, and npm test works, except for
breader.

When I do a git status, I get:

C:\Users\Paul\Documents\GitHub\jsfbp [master ↓]> git status
On branch master
Your branch is behind 'origin/master' by 28 commits, and can be
fast-forwarded.
  (use "git pull" to update your local branch)
nothin

[2016-11-16 17:34] jpaulm commented on #78
No that's correct - the ProcessConnection has the capacity, as it is where
in transit IPs are held.  OutputPorts only have a "closed" attribute.  See
https://github.com/jpaulm/javafbp/blob/master/src/main/java/com/jpaulmorrison/fbp/core/engine/OutputPort.java

On Wed, Nov 16, 2016 at 12:02 PM, Dan Rumney <notifications@github.com>
wrote:

[2016-11-16 17:34] dancrumb commented on #78
OK... so here's what to do:

`git reset --soft <commit hash>`
`git add .`
`git commit -m "Rollback breaking changes"`
`git push`

That will create a new commit that rolls everything back, rather than destroying the shared history. That way, the changes are still viewable, but they're no longer at the front of the tree

[2016-11-16 17:35] dancrumb commented on #78
Yes... the `ProcessConnection` should have capacity, but it should be between a single upstream process and a single downstream process. My implementation has it between multiple upstream processes and a single downstream process. This is incorrect, since, in the case where multiple OUT ports lead into an IN, there could be a different capacity for each connection in the FBP graph.

[2016-11-16 17:36] dancrumb commented on #78
An example would be:

[code]

[2016-11-16 17:42] dancrumb commented on #78
Also, the OutputPort does have a `closed` property; it's inherited from the Port class

[2016-11-16 17:53] jpaulm commented on #78
In this case, jsfbp will differ from all the other implementations!  We
have always allowed multiple output ports (on different processes) to feed
into a single Connection, but in-transit IPs are held in the Connection,
not in the output ports - the IPs arriving at that connection are merged in
a first-come, first-served order.  If you don't do that, how would you
decide in what order to read from

[2016-11-16 17:58] jpaulm commented on #78
"Finally, you can modify https://github.com/jpaulm/jsfbp/blob/master/test/
components/breader.js#L9 to read describe.skip to skip that test case. I
think it's better to 'skip' than remove, since you have that reminder that
you have a test that's not currently working without it breaking your
workflow."

Do you leave the function, or remove the whole thing?

TIA

Paul

On Wed, Nov 16, 2016 at 12:00

[2016-11-16 18:03] dancrumb commented on #78
So, in the case of the graph above, having a single capacity for a `Connection` object doesn't make sense, if that connection encapsulates all incoming connections to an IN port.

I can see how an implementation of a Connection *could* do this, but not with a single capacity value... there would need to be one for each incoming processes. Definitely doable, but not what appears to be in place in t

[2016-11-16 18:05] dancrumb commented on #78
For skipping a test:

`describe( /* everything */);`

becomes

`describe.skip( /* everything */);`

[2016-11-16 18:05] jpaulm commented on #78
B**dy GitHub!

I got to git push - but I had updated Readme, so it said to do a pull
first.  Did that, and got:

remote: Counting objects: 3, done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.
From https://github.com/jpaulm/jsfbp
   8432d81..89ae5d7  master     -> origin/master
Auto-merging core/tra

[2016-11-16 18:10] dancrumb commented on #78
Git can be a pain when you're trying revert stuff :)

OK... so, first, make sure you have no changes that have not been committed (shouldn't be a problem).

1. Reset your local repo to match the remote one:
[code]

2. Soft reset to the commit you want to be at:
[code]

3. Create a new commit to rollback to this point in time:
[code]

4. Push the new state to Github:
[code]

[2016-11-16 18:20] jpaulm commented on #78
Close but no banana!

The final git push said

C:\Users\Paul\Documents\GitHub\jsfbp [master ↕]> git push
To https://github.com/jpaulm/jsfbp.git
 ! [rejected]        master -> master (non-fast-forward)
error: failed to push some refs to 'https://github.com/jpaulm/jsfbp.git'
hint: Updates were rejected because the tip of your current branch is behind
hint: its remote counterpart. Integrate the remot

[2016-11-16 19:06] dancrumb commented on #78
OK finally figured it out:

[code]

I did this on my copy, ran `npm install` and `npm test` and everything (except `breader`) seemed to work.

The `breader` issue is a line-endings issues due to OS differences.

[2016-11-16 19:35] jpaulm commented on #78
Thanks, Dan,

Will give that a try as soon as I get home!

Regards,

Paul

On Nov 16, 2016 2:06 PM, "Dan Rumney" <notifications@github.com> wrote:

[2016-11-16 21:31] jpaulm commented on #78
Never saw git clean before!  Interesting!

No errors...

Did next statement, and got

C:\Users\Paul\Documents\GitHub\jsfbp [master ↓]> git reset --soft @{1}
At line:1 char:21
+ git reset --soft @{1}
+                     ~
Missing '=' operator after key in hash literal.
At line:1 char:21
+ git reset --soft @{1}
+                     ~
The hash literal was incomplete.
    + CategoryInfo          :

[2016-11-16 21:38] dancrumb commented on #78
Try ORIG_HEAD instead of @{1}

It could be that '@{1}' has some special meaning to your shell

On Wed, Nov 16, 2016 at 3:31 PM Paul Morrison <notifications@github.com>
wrote:

[2016-11-16 21:50] jpaulm commented on #78
Dan, please ignore the previous note - I tried it in regular command
prompt, and it worked... until the git push, which gave the same messages
again as before:

error: failed to push some refs to 'https://github.com/jpaulm/jsfbp.git'
hint: Updates were rejected because the tip of your current branch is behind
hint: its remote counterpart. Integrate the remote changes (e.g.
hint: 'git pull ...') be

[2016-11-16 21:52] dancrumb commented on #78
That's weird

If you're fine losing the README changes, this:

[code]

[2016-11-16 22:28] jpaulm commented on #78
Took it!  Phew!  Thanks a million!

Onwards and upwards!

Paul

On Wed, Nov 16, 2016 at 4:52 PM, Dan Rumney <notifications@github.com>
wrote:

[2016-11-17 03:23] jpaulm commented on #78
Sorry, Dan, had to backup a bit further - to 99DA196 - before FIFO.js and
Connection.js were introduced.  Still works, except that I have to skip
breader again - will do that tomorrow.

Readme should probably be checked.

Thanks for your help,

Paul

On Wed, Nov 16, 2016 at 4:52 PM, Dan Rumney <notifications@github.com>
wrote:

[2017-01-08 02:30] emptist commented on #14
Electron utilize chromium multi process architecture http://dev.chromium.org/developers/design-documents/multi-process-architecture by rpc, can this be helpful to use multiple processes? http://electron.atom.io/blog/2016/07/28/electron-internals-node-integration

[2018-04-14 07:13] ComFreek commented on #14
@tlrobinson Thanks for the update. Maybe `async generator functions` are also of interest for you:

[code]
One disadvantage is that you definitely give up your "handle of computation", whereas with the `send` method, you are free to `await` it or to perform other actions and then, let's say, collectively await all sent IPs.

Incidentally, I've recently written an `AsyncLimitedQueue` implementation

[2018-04-22 14:51] jpaulm commented on #14
Hi Tom, this certainly *does* seem much closer to the spirit of classical
FBP!  I guess one has to specify "await", but it feels very "classical"!  I
assume JavaScript still can't handle multiple cores though - do you know if
this is likely to change any time soon...?

Regards,

Paul

On Fri, Apr 13, 2018 at 2:43 PM, Tom Robinson <notifications@github.com>
wrote:

[2018-04-22 19:01] jpaulm commented on #14
I have been reviewing this very interesting correspondence, and I see that there was a long hiatus after @giantelk 's 2015 query (which apparently wasn't answered), until @emptist 's suggestion in 2017, and @tlrobinson 's update a few days ago.  I imagine quite a lot must have changed in the JS world since 2015!

Also, since that time I have refined the locking logic in JavaFBP and C#FBP... and it

[2018-04-30 16:27] jpaulm commented on #14
@tlrobinson  I looked at the WHATWG link you gave and I think I saw "chunks".  Do I get the impression that Streams has reinvented Objects?!  Or did I misunderstand?  I can't imagine why JS dropped Objects - unless JS just followed a different evolutionary path from something like C?

[2018-05-02 15:44] jpaulm commented on #14
@tlrobinson  Thanks for the feedback on streampunk, etc.  Please keep us posted on how this area of JS evolves, and to what extent it is converging with classical FBP.

Regards,  Paul

FYI @laverdet @ComFreek @bjouhier

[2019-07-05 16:22] ComFreek opened #83 "Set up Renovate"
I'd suggest setting up Renovate to prevent outdating of dependencies again.

See https://github.com/apps/renovate.

[2019-07-06 08:01] ComFreek opened #85 "Publish new NPM version 3.0.0"
The latest NPM version is `2.1.0` (published 3 years ago), the version specified in `package.json` in latest commits is `1.x.y` (for some values of x, y I forgot). That version mismatch is particularly confusing.

What do you think about bumping the version in `package.json` to `3.0.0` and releasing a new NPM package version?

[2019-07-06 14:26] jpaulm commented on #85
Thanks so much for digging into this and for the updates, Comfreek!

Good idea to bump the version in package.json!   I need to look up how to
release a new NPM package version - I will get onto that early next week -
this weekend is a bit hectic!

Best regards,

Paul

On Sat, Jul 6, 2019 at 4:01 AM ComFreek <notifications@github.com> wrote:

[2019-07-07 16:07] jpaulm commented on #85
I assume you are talking about the version no. in `package.json` line 2?  I am not sure how this ties in with the version no. of NPM - everything in that file has a different version no.!  Also do I just create a new npm package, or update the old one?  Thanks

[2019-07-08 06:37] ComFreek commented on #85
Yes, exactly, that line 2.

Precisely! That's why it's confusing :smile: I think the procedure would be

1. Bump that version number in package.json, line 2 to, say, `3.0.0`.
2. Run `npm install` (to update package-lock.json as well)
3. Follow the usual publishing procedure for NPM packages. I don't know that by heart, sorry, would need to look it up as well.

[2019-07-11 22:48] jpaulm commented on #85
Thanks!  It's been so long that I've forgotten everything!

I recently transferred to Win 10, and it looks like everything has to be
rebuilt!

Now it's saying something about needing V141 build tools!  Someone
suggested installing Visual Studio 2017, but I have that!

I noticed that I don't have a node-modules/fibers directory, so I trid npm
install fibers, and I get the same message about v141!

[2019-07-25 01:58] jpaulm opened #86 "Can't install fibers"
I recently moved to Win10, so I thought I should do some retesting of JSFBP.  I have been struggling with this nonsense for over a week, and do not seem to be any closer.

I _believe_ that I need Python 2.7, and Visual Studio Tools 17.0.  I have (probably) reinstalled gyp hundred times.  I usually get a message about Retargetting to Tools V141, but this seems to have gone away with Visual Studio T

[2019-07-25 16:25] jpaulm commented on #86
Moved up to node 10.16.0 and `npm install fibers` worked like a charm!  Will remove extra VS stuff for now!

[2019-07-25 16:25] #86 closed

[2019-08-06 14:42] jpaulm commented on #83
Thanks @ComFreek !  Think it is installed - maybe you can check it when you get a chance!

[2019-08-07 00:01] renovate[bot] opened #92 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2019-08-07 14:54] #83 closed

[2019-11-24 00:03] jpaulm opened #107 "Travis broken in Oct. 25 this year - commit 44bd142"
Travis seems to be broken as of 44bd142. As far as I can see the only change was to the eslint version!

Any ideas, @comfreek?

Best regards, and season's greetings!

[2019-11-24 07:15] ComFreek commented on #107
Hey Paul,

have a look at the Travis site:

- https://travis-ci.org/jpaulm/jsfbp
- in particular the first upper build (you've got "two builds run on every build"): https://travis-ci.org/jpaulm/jsfbp/jobs/615992765

It seems to be a node-fiber issue. In fact I guess it even is tried to be recompiled. Didn't node-fiber provide precompiled binaries for most distros? Perhaps not anymore for the distr

[2019-11-24 15:04] jpaulm commented on #107
Hi Marcel,  thanks for getting back to me so promptly, and for pointing me
at the Travis log!  I don't know where the node-fibers community is, or
indeed if there is one, so I have posted the link you gave me to
StackOverflow.  We'll see what they come up with!

Hope everything is going well with you, and wishing you all the best for
the season!

Cheers,

Paul

On Sun, Nov 24, 2019 at 2:15 AM ComF

[2019-11-25 03:12] jpaulm commented on #107
Merci Marcel!  I seem to be zeroing in on the problem...  If worse comes to
worst, I will pass it over to the other Marcel!

All the best,

Paul

On Sun, Nov 24, 2019 at 2:15 AM ComFreek <notifications@github.com> wrote:

[2019-11-25 08:04] ComFreek commented on #107
For OSS projects a good guess is always the issue tracker: https://github.com/laverdet/node-fibers. File an issue there, I doubt someone takes a look at your StackOverflow post. It lacks a bit of research and thus is generally looked down upon in the StackOverflow community. The issue tracker is the right place, definitely, I'd say.

[2019-11-25 14:28] jpaulm commented on #107
I was actually going starting to post an issue to Marcel Laverdet's issue tracker, but saw that he recommends checking the version of node-fibers, and found that mine was out-of-date  Not sure why renovate didn't pick up on that, but at least Travis did!  Thanks for the good tips, and Season's greetings to you and your family!

[2019-11-25 14:29] #107 closed

[2019-11-25 18:02] ComFreek commented on #107
Very good to hear you got this resolved!

[2021-01-21 14:27] #92 closed

[2021-08-30 09:15] renovate[bot] opened #224 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update node.js to v12.22.5](../pull/223)
 - [ ] [chore(deps): update dependency mocha to v9](../pull/204)
 - [ ] [chore(deps): u